<!DOCTYPE html>
<% import "macro-base.html" as base %>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>客户案例</title>
  <link rel="stylesheet" href="public/css/reset.css">
  <link rel="stylesheet" href="public/css/layout.css">
  <link rel="stylesheet" href="public/css/revolution.css">
  <link rel="stylesheet" href="public/css/list-case.css">
  <style>
    .case-pagination {
      margin: 20px 0;
      text-align: center;
    }
  </style>
</head>
<body>
  <% include './header.html' %>
  <div id="content" class="main-content">
    <div class="tp-banner-container case-banner">
      <div class="tp-banner swiper-container">
        <ul>
          <% if bannerList and bannerList.length > 0 %>
            <% for item in bannerList %>
            <li data-transition="slideleft" data-slotamount="9" data-masterspeed="1500">
              <div class="overaly tp-caption" data-speed="0" data-start="0"></div>
              <% if item.imgUrl and item.imgUrl.length > 0 %>
                <img src="<$ item.imgUrl $>" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
              <% else %>
                <img src="public/images/case_banner1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
              <% endif %>
              <div class="box tp-caption lfr" data-x="280" data-y="130" data-speed="800">
                <div class="box-content">
                  <p class="hd">
                    <span class="type"><$ item.content.top.comp_type $></span>
                    <span><$ item.content.top.comp_name $></span>
                  </p>
                  <p class="bd"><$ item.title $></p>
                  <p class="ft"><$ item.secondTitle $></p>
                  <div class="more-content">
                    <a class="more" href="/case-detail/<$ item.id $>"><span>阅读完整故事</span></a>
                  </div>
                </div>
              </div>
            </li>
            <% endfor %>
          <% else %>
            <li data-transition="slideleft" data-slotamount="9" data-masterspeed="1500">
              <div class="overaly tp-caption" data-speed="0" data-start="0"></div>
              <img src="public/images/case_banner1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
              <div class="box tp-caption lfr" data-x="280" data-y="130" data-speed="800">
                <div class="box-content">
                  <p class="hd">
                    <span class="type">综合型同业服务商</span>
                    <span>大连英晖国旅</span>
                  </p>
                  <p class="bd">效率提升，业绩翻倍，从小强ERP开始</p>
                  <p class="ft">新疆峰景运用小强ERP前台网站、电子合同、扫码付等功能，彻底将销售从繁琐的流程工 作中解放出来，告别加班的同事，实现收客量翻倍，业绩猛增。</p>
                  <div class="more-content">
                    <a class="more" href=""><span>阅读完整故事</span></a>
                  </div>
                </div>
              </div>
            </li>
          <% endif %>
        </ul>
      </div>
    </div>
    <div class="tp-tab-container">
      <div class="inner">
        <div id="tabCase" class="tab-cases">
          <div class="hd">
    				<ul class="types clearfix">
              <li class="<$ 'item on' if ctx.query.type==1 else 'item' $>">按类型查看</li>
              <li class="<$ 'item on' if ctx.query.type==2 else 'item' $>">按规模查看</li>
              <li class="<$ 'item on' if ctx.query.type==4 else 'item' $>">按使用目的查看</li>
              <li class="<$ 'item on' if ctx.query.type==3 else 'item' $>" class="item">按小强ERP功能查看</li>
            </ul>
    			</div>
          <div class="bd">
            <div class="subBox">
              <div class="subHd">
  							<ul class="clearfix">
                  <li class="<$ 'on' if not ctx.query.tags else '' $>" onclick="common.fnSearch({'tags':'','type':1})">全部</li>
                  <% for item in tagList.type %>
                    <li class="<$ 'on' if ctx.query.tags == item.id else '' $>" onclick="common.fnSearch({'tags':'<$ item.id $>','type':'<$ item.type $>'})"><$ item.typeValue $></li>
                  <% endfor %>
                </ul>
  						</div>
  						<div class="subBd"></div>
            </div>
            <div class="subBox">
              <div class="subHd">
  							<ul class="clearfix">
                  <li class="<$ 'on' if not ctx.query.tags else '' $>" onclick="common.fnSearch({'tags':'','type':2})">全部</li>
                  <% for item in tagList.size %>
                  <li class="<$ 'on' if ctx.query.tags == item.id else '' $>" onclick="common.fnSearch({'tags':'<$ item.id $>','type':'<$ item.type $>'})"><$ item.typeValue $></li>
                  <% endfor %>
                </ul>
  						</div>
  						<div class="subBd"></div>
            </div>
            <div class="subBox">
              <div class="subHd">
  							<ul class="clearfix">
                  <li class="<$ 'on' if not ctx.query.tags else '' $>" onclick="common.fnSearch({'tags':'','type':4})">全部</li>
                  <% for item in tagList.target %>
                    <li class="<$ 'on' if ctx.query.tags == item.id else '' $>" onclick="common.fnSearch({'tags':'<$ item.id $>','type':'<$ item.type $>'})"><$ item.typeValue $></li>
                  <% endfor %>
                </ul>
  						</div>
  						<div class="subBd"></div>
            </div>
            <div class="subBox">
              <div class="subHd">
  							<ul class="clearfix">
                  <li class="<$ 'on' if not ctx.query.tags else '' $>" onclick="common.fnSearch({'tags':'','type':3})">全部</li>
                  <% for item in tagList.feature %>
                    <li class="<$ 'on' if ctx.query.tags == item.id else '' $>" onclick="common.fnSearch({'tags':'<$ item.id $>','type':'<$ item.type $>'})"><$ item.typeValue $></li>
                  <% endfor %>
                </ul>
  						</div>
  						<div class="subBd"></div>
            </div>
          </div>
        </div>
        <div class="list-case" >
          <ul class="clearfix">
            <% for item in list %>
            <li>
              <div class="col">
                <a  href="/case-detail/<$ item.id $>">
                  <div class="img">
                    <img src="<$ item.imgUrl $>">
                  </div>
                  <p class="hd">
                    <span class="tag"><$ item.content.top.comp_type $></span>
                    <span><$ item.content.top.comp_name $></span>
                  </p>
                  <div class="bd">
                    <p class="title"><$ item.title $></p>
                    <p class="info">
                      <$ item.secondTitle $>
                    </p>
                  </div>
                  <div class="ft clearfix">
                    <p class="fl left-item">
                      <span class=""><$ item.content.top.comp_goal $></span>
                      <span class=""><$ item.content.top.comp_function $></span>
                    </p>
                    <p class="fr"><$ item.content.top.comp_scale $></p>
                  </div>
                </a>
              </div>
            </li>
            <% endfor %>
          </ul>
        </div>
        <div class="case-pagination"></div>
      </div>
    </div>
  </div>
  <% include './footer.html' %>

  <script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="public/js/jquery.themepunch.plugins.min.js"></script>
  <script src="public/js/jquery.themepunch.revolution.min.js"></script>
  <script src="public/js/jquery.SuperSlide.2.1.1.js"></script>
  <script src="public/js/laypage.js"></script>
<$ base.importBaseJs() $>

  <script>
    // 分页变量
    var page = {
      pages: '<$ page.pages $>',
      pageNum: '<$ page.pageNum $>'
    };

    // 初始化
    $(function() {
      var queryType = '<$ ctx.query.type $>';
      var queryPage = '<$ ctx.query.page $>';
      var scrollTopVal = localStorage.getItem('scrollTop');
      if ((queryType || queryPage) && scrollTopVal) {
        setTimeout(function(){
          window.scroll(0,scrollTopVal)
        });
      }

      /**
       * 分页
      */
      !function(){
        laypage({
          cont: $('.case-pagination'),
          pages: page.pages,
          curr: page.pageNum,
          skin: '#0386CA',
          groups: 5,
          jump: function(obj, first) {
            if (!first) {
              setScrollTop();
              window.location.href = window.location.protocol + '//'+ window.location.host + window.location.pathname + setUrlParam('page', obj.curr);
            }
          }
        });
      }()

      window.common = {};

      /**
       * 筛选客户案例
      */
      common.fnSearch = function(option){
        var str;
        for(var k in option){
          if(option[k]===''){
            continue;
          }
          if(!str){
            str = '?' + k + '=' + option[k];
          }else{
            str += '&' + k + '=' + option[k];
          }
        }
        setScrollTop();
        hrefStr = window.location.protocol + '//' + window.location.host + window.location.pathname + str;
        window.location.href = hrefStr;
      }

      $('.tp-banner').revolution({
        delay: 6000,
        startwidth: 1200,
        startheight: 490,
        fullWidth: 'on',
        forceFullWidth: "on",
        onHoverStop: 'on',
        hideThumbs: 10
      });

      jQuery(".subBox").slide({ titCell:".subHd li", mainCell:".subBd", trigger:"click" });
      jQuery("#tabCase").slide({ effect:"left", trigger:"click", easing:"easeInOutCirc" });

      /**
       * 设置滚动条离顶部距离
      */
      function setScrollTop(){
        localStorage.setItem('scrollTop', $(document).scrollTop());
      }
      /* 切换缓存 */
      $('#tabCase .types').on('click', '.item', function() {
        var typeIndex = $(this).index();
        var objCase = {
          'typeIndex': typeIndex
        }
      });
    });
  </script>
</body>
</html>
