<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>客户案例</title>
  <link rel="stylesheet" href="public/css/reset.css">
  <link rel="stylesheet" href="public/css/layout.css">
  <link rel="stylesheet" href="public/css/animate.min.css">
  <link rel="stylesheet" href="public/css/keyframes.css">
  <link rel="stylesheet" href="public/css/detail-case.css">
</head>
<body>
  <% include './header.html' %>
  <div id="content" class="main-content">
    <div class="case-detail">
      <div class="banner">
        <div class="img">
          <img src="public/images/case_banner1.jpg">
        </div>
        <div class="overaly"></div>
        <div class="cpy-info">
          <div class="logo wow slideInUp" data-wow-duration="1s">
            <img class="bg" src="public/images/case_logo_bg.png">
            <img class="img-logo" src="public/images/case_logo.jpg">
          </div>
          <div class="info">
            <h3 class="wow slideInLeft" data-wow-duration="1.5s">效率提升，业绩翻倍，从小强ERP开始</h3>
            <div class="desc wow slideInRight" data-wow-duration="1.5s">新疆峰景运用小强ERP前台网站、电子合同、扫码付等功能，彻底将销售从繁琐的流程工作中解放出来， 告别加班的同事，实现收客量翻倍,业绩猛增。</div>
          </div>
        </div>
        <div class="summary wow slideInDown">
          <div class="inner clearfix">
            <div class="col">
              <p class="sign">企业名称</p>
              <p class="name">新疆峰景国际旅行社123</p>
            </div>
            <div class="col">
              <p class="sign">企业类型</p>
              <p class="name">综合型同业服务商</p>
            </div>
            <div class="col">
              <p class="sign">企业规模</p>
              <p class="name">30-40人</p>
            </div>
            <div class="col">
              <p class="sign">最常用功能</p>
              <p class="name">前台网站、扫码付、在线下单 </p>
            </div>
            <div class="col">
              <p class="sign">使用小强ERP的目的</p>
              <p class="name">提升销售效率，流程信息化管理</p>
            </div>
          </div>
        </div>
      </div>

      <!--公司描述-->
      <div class="cpy-content module">
        <div class="inner">
          <div class="info wow fadeInUp" data-wow-delay="0.5s">
            <span class="name">新疆峰景国际旅行社</span>
            团队成立于2005年，从最初的北大青专线为起点发展成为服务于同行的综合型同业服务商，是新疆第一家提出“主题旅游”并为之努力的旅行社，目前公司已有五大模块。
            团队成立于2005年，从最初的北大青专线为起点发展成为服务于同行的综合型同业服务商，是新疆第一家提出“主题旅游”并为之努力的旅行社，目前公司已有五大模块。
            团队成立于2005年，从最初的北大青专线为起点发展成为服务于同行的综合型同业服务商，是新疆第一家提出“主题旅游”并为之努力的旅行社，目前公司已有五大模块。
          </div>
        </div>
      </div>
      <!--公司描述-->

      <!--小强ERP故事-->
      <div class="story module">
        <div class="inner">
          <h3 class="title wow fadeInDown" data-wow-delay="0.5s"><span class="small">小强</span>ERP<span class="normal">故事</span></h3>
          <div class="info wow fadeInUp" data-wow-delay="1s">
            峰景国际自有办公场所330平方米，团队现有员工五十多人人，下设销售部、操作部、票务部、证照部、网络部、财务部等。  除了常规的
            峰景国际自有办公场所330平方米，团队现有员工五十多人人，下设销售部、操作部、票务部、证照部、网络部、财务部等。  除了常规的
            峰景国际自有办公场所330平方米，团队现有员工五十多人人，下设销售部、操作部、票务部、证照部、网络部、财务部等。  除了常规的
          </div>
          <div class="person clearfix wow fadeInUp" data-wow-duration="0.8s">
            <div class="avatar">
              <div class="img">
                <img src="public/images/case_avatar.png">
              </div>
            </div>
            <div class="intro">
              <p class="name-job">毛瑞月<span class="job">新疆峰景总经理</span></p>
              <div class="sign">
                我们已使用小强系统1年半，进一寸有一寸的欢喜，每发现一个新功能，就对小强ERP更深的喜爱！系统操作简便，客服很热情。
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--小强ERP故事-->

      <!--表格-->
      <div class="table module wow fadeInUpBig">
        <div class="inner">
          <ul class="head clearfix">
            <li>痛点</li>
            <li>解决方案</li>
            <li>效果</li>
          </ul>
          <div class="body">
            <ul class="clearfix">
              <li>
                <div class="box">旅游合同都是十几甚至几十页，纸质合同制作麻烦，打印耗纸耗墨，签署时间还长</div>
              </li>
              <li>
                <div class="box">电子合同，添加游客信息点击发起，自动根据行程生成电子合同，在线即可签署</div>
              </li>
              <li>
                <div class="box">签署合同10秒完成，简单又合规，省心省力还省钱签署合同10秒完成，简单又合规，省心省力还省钱</div>
              </li>
            </ul>
            <ul class="clearfix">
              <li>
                <div class="box">电子合同，添加游客信息点击发起，自动根据行程生成电子合同，在线即可签署</div>
              </li>
              <li>
                <div class="box">前台网站，销售引导客户到网站下单，付款自动确认，点击按钮即可发送确认件和出团通知书</div>
              </li>
              <li>
                <div class="box">销售单月收客数翻番，业绩翻倍，还不需要加班</div>
              </li>
            </ul>
            <ul class="clearfix">
              <li>
                <div class="box">签署合同10秒完成，简单又合规，省心省力还省钱</div>
              </li>
              <li>
                <div class="box">扫码付，扫码直接付款，系统自动确认</div>
              </li>
              <li>
                <div class="box">客户可随时随地扫码付款，将销售直接从收款流程中解放出来</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--表格-->

      <!--功能介绍-->
      <div class="function module">
        <div class="inner">
          <div class="section">
            <h6 class="title wow fadeInUp"><span>01</span>电子合同，小功能省大钱</h6>
            <div class="info wow fadeInUp">
              之前门店与游客签署的合同都是纸质合同，一式两份。签字需要至少十分钟，耗时长，而且签得不规范。而且行程稍微做得精美点就要打印10
            </div>
            <div class="imgs wow fadeInUp">
              <img src="public/images/case_test.jpg">
            </div>
          </div>
          <div class="section">
            <h6 class="title wow fadeInUp"><span>02</span>前台自动下单让销售收客翻倍，告别加班</h6>
            <div class="info wow fadeInUp">
              之前门店与游客签署的合同都是纸质合同，一式两份。签字需要至少十分钟，耗时长，而且签得不规范。而且行程稍微做得精美点就要打印10
            </div>
            <div class="imgs wow fadeInUp">
              <img src="public/images/case_test.jpg">
            </div>
          </div>
        </div>
      </div>
      <!--功能介绍-->

      <!--相关案例-->
      <div class="relation module">
        <div class="inner">
          <div class="module-title clearfix">
            <h3 class="wow fadeInDown">相关案例</h3>
            <a class="more wow fadeInRight" href="" data-wow-delay="0.3s">查看更多<span class="lines"></span></a>
          </div>
          <ul class="clearfix">
            <li class="wow fadeInUp" data-wow-delay="0.5s">
              <div class="col">
                <a href="">
                  <div class="img">
                    <img src="public/images/case_banner1.jpg">
                  </div>
                  <p class="hd">
                    <span class="tag">台湾批发商</span>
                    <span>深圳抱团旅行</span>
                  </p>
                  <div class="bd">
                    <p class="title">规范内部流程，提升工作效率</p>
                    <p class="info">
                      抱团旅行用小强ERP规范各岗位工作流程，大大提升了员 工工作效率，降低了企业运营成本大大提升了员 工工作效率，降低了企业运营成本
                    </p>
                  </div>
                  <div class="ft clearfix">
                    <p class="fl">
                      <span>内部流程管理</span>
                      <span>提升运营效率</span>
                    </p>
                    <p class="fr">100~150人</p>
                  </div>
                </a>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.5s">
              <div class="col">
                <a href="">
                  <div class="img">
                    <img src="public/images/case_banner1.jpg">
                  </div>
                  <p class="hd">
                    <span class="tag">台湾批发商</span>
                    <span>深圳抱团旅行</span>
                  </p>
                  <div class="bd">
                    <p class="title">规范内部流程，提升工作效率</p>
                    <p class="info">
                      抱团旅行用小强ERP规范各岗位工作流程，大大提升了员 工工作效率，降低了企业运营成本大大提升了员 工工作效率，降低了企业运营成本
                    </p>
                  </div>
                  <div class="ft clearfix">
                    <p class="fl">
                      <span>内部流程管理</span>
                      <span>提升运营效率</span>
                    </p>
                    <p class="fr">100~150人</p>
                  </div>
                </a>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.5s">
              <div class="col">
                <a href="">
                  <div class="img">
                    <img src="public/images/case_banner1.jpg">
                  </div>
                  <p class="hd">
                    <span class="tag">台湾批发商</span>
                    <span>深圳抱团旅行</span>
                  </p>
                  <div class="bd">
                    <p class="title">规范内部流程，提升工作效率</p>
                    <p class="info">
                      抱团旅行用小强ERP规范各岗位工作流程，大大提升了员 工工作效率，降低了企业运营成本大大提升了员 工工作效率，降低了企业运营成本
                    </p>
                  </div>
                  <div class="ft clearfix">
                    <p class="fl">
                      <span>内部流程管理</span>
                      <span>提升运营效率</span>
                    </p>
                    <p class="fr">100~150人</p>
                  </div>
                </a>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.5s">
              <div class="col">
                <a href="">
                  <div class="img">
                    <img src="public/images/case_banner1.jpg">
                  </div>
                  <p class="hd">
                    <span class="tag">台湾批发商</span>
                    <span>深圳抱团旅行</span>
                  </p>
                  <div class="bd">
                    <p class="title">规范内部流程，提升工作效率</p>
                    <p class="info">
                      抱团旅行用小强ERP规范各岗位工作流程，大大提升了员 工工作效率，降低了企业运营成本大大提升了员 工工作效率，降低了企业运营成本
                    </p>
                  </div>
                  <div class="ft clearfix">
                    <p class="fl">
                      <span>内部流程管理</span>
                      <span>提升运营效率</span>
                    </p>
                    <p class="fr">100~150人</p>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--相关案例-->
    </div>
  </div>
  <% include './footer.html' %>

  <script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="public/js/wow.min.js"></script>
  <script>
    new WOW().init();
    $(function() {

    });
  </script>
</body>
</html>
