<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>客户案例</title>
  <link rel="stylesheet" href="public/css/reset.css">
</head>

<body>

<div style="padding: 20px; font-size: 16px;">
  暂时还没有首页！
  <br><br>

  您可以先看：<br>
  <a href="/case-list" style="font-size: 14px;">客户案例</a><br>
  <a href="/recent-list" style="font-size: 14px;">最新动态</a><br>
  <a href="/erp-school" style="font-size: 14px;">小强学院</a><br>
  <a href="/erp-index" style="font-size: 14px;">小强erp</a>
</div>

</body>
</html>
