<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>小强ERP</title>
  <!-- <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <script src="https://cdn.bootcss.com/selectivizr/1.0.2/selectivizr-min.js"></script> -->
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="/public/css/layout.css">
  <link rel="stylesheet" href="../public/css/animate.min.css">
  <link rel="stylesheet" href="../public/css/erp-index.css">
  <style>
    /* .game_time {
      width: 43px;
      height: 43px;
      position: absolute;
      top: 30%;
      left: 40%;
      text-align: center
    }

    .pie {
      width: 87px;
      height: 87px;
      background-color: blue;
      border-radius: 100px;
      position: absolute
    }

    .pie1 {
      clip: rect(0px, 87px, 87px, 43px);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      background-color: #fff
    }

    .pie2 {
      clip: rect(0px, 43px, 87px, 0px);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      background-color: #fff
    }

    .hold {
      width: 87px;
      height: 87px;
      position: absolute;
      z-index: 1
    }

    .bg {
      width: 87px;
      height: 87px;
      border-radius: 100%;
      position: absolute;
      background-color: #d13c36
    }

    .time {
      width: 81px;
      height: 81px;
      margin: 20px 0 0 20px;
      background-color: #e45534;
      border-radius: 100%;
      position: absolute;
      z-index: 1;
      text-align: center;
      line-height: 81px;
      font-size: 30px
    } */
  </style>
</head>

<body>
  <% include './header.html' %>
  <div id="content" class="main-content">
    <div class="page-erp">
      <div class="top-content">
        <div class="text">
          <h1 class="title wow slideInDown">小强ERP，领先的旅行社管理系统</h1>
          <p class="sub-title wow slideInUp">将旅游人的工作流程化繁为简，带领旅行社走出传统办公时代</p>
          <a class="more wow fadeIn" href="" data-wow-delay="0.1s"><span>了解详情</span></a>
        </div>
        <div class="video video-layer" id="videoPlay">
          <div class="player-btn"></div>
          <h2>三分钟了解小强ERP</h2>
          <p>为旅行社赋能</p>
        </div>
        <video id="video" class="video" style="z-index:1;" width="1200" height="570" controls="true" poster="">
          <source src="https://cdn.op110.com.cn/lib/vedio/xqerp.mp4" type="video/mp4"> 您的浏览器不支持 video 标签。
        </video>
        <div class="wave">
          <canvas id="canvas" width="3000" height="1000" style="width: 100%;"></canvas>
        </div>
      </div>
      <div class="module part-one">
        <div class="inner">
          <div id="versionType" class="version-types">
            <div class="inner">
              <h3 class="module-title">丰富的版本类型</h3>
              <p class="sub-module-title">满足各类旅行社的需求</p>
              <div class="hd">
                <ul class="clearfix">
                  <li>
                    <span class="icon icon1"></span>
                    <p>综合社</p>
                  </li>
                  <li>
                    <span class="icon icon2"></span>
                    <p>专线批发商</p>
                  </li>
                  <li>
                    <span class="icon icon3"></span>
                    <p>综合批发商</p>
                  </li>
                  <li>
                    <span class="icon icon4"></span>
                    <p>集团化</p>
                  </li>
                  <li>
                    <span class="icon icon5"></span>
                    <p>机票大盘</p>
                  </li>
                </ul>
              </div>
              <div class="bd">
                <ul>
                  <li>
                    <p class="title">
                      <span class="bold">综合社</span> - 既有批发业务又有组团业务，既对同业又对直客
                    </p>
                    <div class="items clearfix">
                      <div class="item">
                        <p class="rectangle">01<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">运营中心轻松管理加盟的营业部线路供应商</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">02<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">供应商线路不合格，可一键下架</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">03<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">营业部业绩实时查看</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">04<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">合同发放，保险项目在线管理</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">05<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">能对三方财务板块进行联合管理 每一笔业务账目清晰</p>
                      </div>
                    </div>
                      <!-- <div class="btns">
                        <a class="btn btn1" href="">咨询产品详情</a>
                        <a class="btn btn2" href="">查看更多版本</a>
                      </div> -->
                  </li>
                </ul>
                <ul>
                  <li>
                    <p class="title">
                      <span class="bold">专线批发商</span> - 专注专线业务
                    </p>
                    <div class="items clearfix">
                      <div class="item">
                        <p class="rectangle">01<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">团期余位，随时可查 </p>
                      </div>
                      <div class="item">
                        <p class="rectangle">02<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text"> 特殊团期可标记，突出周结、月结客户</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">03<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">一键导出账单，高效核对，批量结算</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">04<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">成本明细导出核对，批量结款</p>
                      </div>
                    </div>
                  </li>
                </ul>
                <ul>
                  <li>
                    <p class="title">
                      <span class="bold">综合批发商</span> - 主营多个旅游目的地的旅游批发商
                    </p>
                    <div class="items clearfix">
                      <div class="item">
                        <p class="rectangle">01<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">多线路同时管理，线路类别清晰</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">02<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">供应商分类管理，迅速找到想要资源</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">03<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">全面的客户资料管理功能</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">04<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">可视化的客户统计分析，一键即可导出报表</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">05<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">合同附件储存，合同期限随时可查</p>
                      </div>
                    </div>
                  </li>
                </ul>
                <ul>
                  <li>
                    <p class="title">
                      <span class="bold">集团化</span> - 集团下有多个分公司财务独立结算
                    </p>
                    <div class="items clearfix">
                      <div class="item">
                        <p class="rectangle">01<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">一套系统管理全部业务</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">02<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">产品共享，财务各自独立</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">03<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">集团统一管理</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">04<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">轻松查看各分公司的业务情况</p>
                      </div>
                    </div>
                  </li>
                </ul>
                <ul>
                  <li>
                    <p class="title">
                      <span class="bold">机票大盘</span> - 多个旅行社合作包机共享一套机票大盘
                    </p>
                    <div class="items clearfix">
                      <div class="item">
                        <p class="rectangle">01<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">实时查看库存及各旅行社的销售情况</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">02<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">股份制合作，权限分立</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">03<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">机票op轻松管理库存</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">04<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">可根据机票库存直接建团</p>
                      </div>
                      <div class="item">
                        <p class="rectangle">05<span></span></p>
                        <p class="line"><span></span></p>
                        <p class="text">上订、二订、出票日期信息提醒</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
                <div class="btns">
                  <a class="btn btn1" href="">咨询产品详情</a>
                  <a class="btn btn2" href="">查看更多版本</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="module part-two">
        <div class="inner">
          <h3 class="module-title wow slideInDown">覆盖旅行社全流程的工作模块</h3>
          <p class="module-sub-title wow slideInUp">覆盖旅行社全流程的工作模块</p>
          <div class="items clearfix">
            <div class="item">
              <div class="col">
                <span class="icon icon1"></span>
                <h3>销售</h3>
                <div class="info">
                  <p>将销售从繁琐的流程中解放</p>
                  <p>全力以赴把握商机</p>
                  <p>让销售业绩翻倍</p>
                </div>
                <a class="btn" href="">咨询详情</a>
              </div>
            </div>
            <div class="item">
              <div class="col">
                <span class="icon icon2"></span>
                <h3>计调</h3>
                <div class="info">
                  <p>管理工作效率提升</p>
                  <p>操作工作事半功倍</p>
                  <p>流程工作畅通无阻</p>
                </div>
                <a class="btn" href="">咨询详情</a>
              </div>
            </div>
            <div class="item">
              <div class="col">
                <span class="icon icon3"></span>
                <h3>老板</h3>
                <div class="info">
                  <p>各类数据手机随时查看</p>
                  <p>员工情况轻松管理</p>
                  <p>旅行社运营状态自在掌握</p>
                </div>
                <a class="btn" href="">咨询详情</a>
              </div>
            </div>
            <div class="item">
              <div class="col">
                <span class="icon icon4"></span>
                <h3>财务</h3>
                <div class="info">
                  <p>收款付款、各类明细，一目了然</p>
                  <p>对账、平账各类工作，一步到位</p>
                </div>
                <a class="btn" href="">咨询详情</a>
              </div>
            </div>
          </div>
          <a class="more rotate-more" href="">查看更多模块<span class="lines"></span></a>
        </div>
      </div>
      <div class="module part-three">
        <div class="inner">
          <h3 class="module-title wow slideInDown">细致且全面的亮点功能</h3>
          <p class="module-sub-title wow slideInUp">细致且全面的亮点功能 </p>
          <div id="dotFunction" class="dot-box">
            <div class="hd">
              <ul>
                <li>扫码付</li>
                <li>证件识别</li>
                <li>电子合同</li>
                <li>财务对接</li>
                <li>数据对接</li>
              </ul>
            </div>
            <div class="bd">
              <ul>
                <li>
                  <div class="head icon1">
                    <h2>扫码付</h2>
                    <p>一键生成付款二维码，同时支持支付宝和微信扫码付款</p>
                  </div>
                  <div class="body">
                    <span>每笔订单可自动生成二维码</span>
                    <span>随时随地发给客户/ 同业/ 公司内部等扫一扫</span>
                    <span>仅需十几秒即可完成收款、转账操作</span>
                    <span>且财务自动确认，无需审核</span>
                    <span>系统自动走完付款确认流程</span>
                    <span>旅行社的24 小时移动POS 机</span>
                  </div>
                  <div class="foot">
                    <a class="more" href="#">咨询产品详情</a>
                  </div>
                </li>
              </ul>
              <ul>
                <li>
                  <div class="head icon2">
                    <h2>证件识别</h2>
                    <p>身份证、护照、港澳通行证信息识别</p>
                  </div>
                  <div class="body">
                    <span>拍照上传证件照片即可完成识别并完成信息录入</span>
                    <span>PC 端、移动端均可上传</span>
                    <span>告别手动录名单的繁琐工作</span>
                    <span>系统自动识别身份证、护照、港澳通行证等证件信息</span>
                    <span>1 秒采集，识别正确率高达97%</span>
                    <!-- <span>系统还可自动生成游客的保险、出票、出团名单</span> -->
                  </div>
                  <div class="foot">
                    <a class="more" href="#">咨询产品详情</a>
                  </div>
                </li>
              </ul>
              <ul>
                <li>
                  <div class="head icon3">
                    <h2>电子合同</h2>
                    <p>行程添加游客信息即可生成电子合同，支持在线签署</p>
                  </div>
                  <div class="body">
                    <span>订单确认后即可一键自动生成电子合同</span>
                    <span>手机点击链接即可随时随地完成在线签署</span>
                    <span>省纸省钱又省事</span>
                    <span>后台可实时查看合同签署状态并下载合同</span>
                    <span>告别几十页的纸质合同打印</span>
                    <span>全程无纸化、透明化，快捷且规范</span>
                  </div>
                  <div class="foot">
                    <a class="more" href="#">咨询产品详情</a>
                  </div>
                </li>
              </ul>
              <ul>
                <li>
                  <div class="head icon4">
                    <h2>财务对接</h2>
                    <p>可直接跟金蝶用友等财务软件进行无缝对接</p>
                  </div>
                  <div class="body">
                    <span>无缝对接金蝶、用友等财务系统</span>
                    <span>系统间档案可实时互传，对接精准直达</span>
                    <span>应收/ 应付/ 收付款平账/ 报销账单等，一键生成凭证</span>
                    <span>大大减少财务工作量、避免数据错误</span>
                    <span>对接安全、高效、实惠</span>
                    <!-- <span>市面上性价比最高的财务系统对接平台</span> -->
                  </div>
                  <div class="foot">
                    <a class="more" href="#">咨询产品详情</a>
                  </div>
                </li>
              </ul>
              <ul>
                <li>
                  <div class="head icon5">
                    <h2>数据对接</h2>
                    <p>提供商小强ERP系统API接口，可一站式直采OTA线路，对接其他系统</p>
                  </div>
                  <div class="body">
                    <span>提供商小强ERP系统API接口</span>
                    <span>无缝对接外部系统</span>
                    <span>可一站式直采携程、途牛、去哪儿、众信等OTA线路</span>
                    <span>并支持对接CRM、OA、HR等系统数据</span>
                    <span>数据安全100%保障、运行稳定</span>
                  </div>
                  <div class="foot">
                    <a class="more" href="#">咨询产品详情</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <a class="more rotate-more">更多亮点功能<span class="lines"></span></a>
        </div>
      </div>
      <div class="module part-four">
        <div class="inner">
          <h3 class="module-title wow slideInDown">这里有旅行社需要的一切</h3>
          <p class="module-sub-title wow slideInUp">帮旅行社解决常见的所有问题</p>
          <div style="height:60px;"></div>
          <div class="module-box" id="feature_block">
            <div class="block-head">
              <div class="head-1 wow slideInDown">
                <div class="feature-btn">运营平台</div>
                <div class="feature-btn">门店平台</div>
                <div class="feature-btn">客户管理</div>
                <div class="feature-btn">供应商平台</div>
                <div class="feature-btn">虚拟账户</div>
                <div class="feature-btn">移动支付</div>
                <div class="head-border-box">
                  <div class="head-border"></div>
                </div>
              </div>
              <div class="head-2 wow slideInUp">
                <div class="head-border-box">
                  <div class="head-border"></div>
                </div>
                <div class="feature-btn">集团化管理</div>
                <div class="feature-btn">批发商运营管理</div>
                <div class="feature-btn">地接运营管理</div>
                <div class="feature-btn">组团社运营管理</div>
                <div class="feature-btn">产品管理</div>
                <div class="feature-btn">销售管理</div>
                <div class="feature-btn">客户管理</div>
                <div class="feature-btn">财务管理</div>
                <div class="feature-btn">决策分析</div>
              </div>
            </div>
            <div class="block-body clearfix">
              <div class="block-left clearfix block-item">
                <div class="item-border"></div>
                <div class="items wow fadeInRight">
                  <ul>
                    <li class="feature-btn-right wow fangFadeIn btn-sign">扫码付</li>
                    <li class="feature-btn-right wow fangFadeIn btn-sign">电子合同</li>
                    <li class="feature-btn-right wow fangFadeIn btn-sign">证件识别</li>
                    <li class="feature-btn-right wow fangFadeIn btn-sign">机票库存共享</li>
                    <li class="feature-btn-right wow fangFadeIn btn-sign">财务系统对接</li>
                    <li class="feature-btn-right wow fangFadeIn btn-sign">电子杂志</li>
                  </ul>
                </div>

              </div>
              <div class="block-center clearfix">
                <!-- <div class="feature-block-item">
                  <div class="feature-block-text">增值服务</div>
                </div> -->
                <div class="feature-core" id="feature_core">
                  <div class="level-item"></div>
                  <div class="vertical-item"></div>
                  <div class="feature-item item-1">增值服务</div>
                  <div class="feature-item item-2">管理系统</div>
                  <div class="feature-item item-3">网站站点</div>
                  <div class="feature-item item-4">数据对接</div>
                </div>
              </div>
              <div class="block-right block-item">
                <div class="item-border"></div>
                <div class="items wow fadeInLeft">
                  <ul>
                    <li class="feature-btn-left btn-sign">网络站点</li>
                    <li class="feature-btn-left btn-sign">同业网站</li>
                    <li class="feature-btn-left btn-sign">旅游微商城</li>
                    <li class="feature-btn-left btn-sign">分销平台(B2B)</li>
                    <li class="feature-btn-left btn-sign">微信公众号</li>
                    <li class="feature-btn-left btn-sign">移动扫码支付</li>
                    <li class="feature-btn-left btn-sign">微信机器人</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="block-foot wow fadeInDown">
              <div class="head-1">
                <div class="head-border-box">
                  <div class="head-border"></div>
                </div>
                <div class="feature-btn-bottom">直连携程等OTA</div>
                <div class="feature-btn-bottom">直连小强系统</div>
                <div class="feature-btn-bottom">包机大盘模式</div>
                <div class="feature-btn-bottom">全国同业资源市场</div>
                <div class="feature-btn-bottom">小强API</div>
              </div>
            </div>
            <a class="more rotate-more" href="">咨询产品详情
              <span class="lines"></span>
            </a>
            <!-- <img src="/public/images/feature.png"> -->
            <!-- <div class="module-opacity"></div> -->
            <!-- <div class="dashed-border"></div> -->
          </div>
        </div>
      </div>
      <div class="module part-five" id="part_five">
        <div class="inner">
          <h3 class="module-title wow slideInDown">只需4步，即可完成旅行社的信息化跨越</h3>
          <p class="module-sub-title wow slideInUp">每人每天不到1块钱</p>
          <div class="steps-sign-box" id="indicatorContainer">
            <div class="sign-item">
              <!-- <div class="step-icon">01</div> -->
              <div class="step-sign-item" id="indicatorContainer_1"></div>
            </div>
            <div class="sign-item">
              <div class="step-sign-item" id="indicatorContainer_2"></div>
              <!-- <div class="step-icon">02</div> -->
            </div>
            <div class="sign-item">
              <div class="step-sign-item" id="indicatorContainer_3"></div>
              <!-- <div class="step-icon">03</div> -->
            </div>
            <div class="sign-item">
              <div class="step-sign-item" id="indicatorContainer_4"></div>
              <!-- <div class="step-icon">04</div> -->
            </div>
          </div>
          <div class="step-sign-box">
            <div class="sign-item"></div>
          </div>
          <div class="steps-box">
            <div class="step-item">
              <h4>梳理需求</h4>
              <p>有耐心的客户经理为您梳理需求，匹配版本和功能</p>
            </div>
            <div class="step-item">
              <h4>产品试用</h4>
              <p>在专业的顾问指导下， 免费试用对应版本的全部功能</p>
            </div>
            <div class="step-item">
              <h4>签约开通</h4>
              <p>专业的客服人员会为您梳理业务流程，匹配账号并进行系统培训</p>
            </div>
            <div class="step-item">
              <h4>全面实施</h4>
              <p>由专业的售后团队保障您旅行社的信息化高效运行，答疑解惑</p>
            </div>
          </div>
          <a class="more rotate-more" href="">开启试用
            <span class="lines"></span>
          </a>
        </div>
      </div>
      <div class="module part-six">
        <div class="inner">
          <h3 class="module-title wow slideInDown">由强大的技术团队为您保驾护航</h3>
          <p class="module-sub-title wow slideInUp">每人每天不到1块钱</p>
          <div class="body-box">
            <div class="body-item">
              <div class="body-bg bg-1"></div>
              <h4>高可用和先进性</h4>
              <p>用领先的微服务架构Sprint Cloud全家桶来构建，用Eureka和Ribbon、Feign完成服务的注册调用，用Hystrix实现高可用和先进性</p>
            </div>
            <div class="body-item">
              <div class="body-bg bg-2"></div>
              <h4>高安全性</h4>
              <p>基于Zuul开发了带256位加密的统一API网关系统为所有应用提供底层数据服务，企业业务的独立性带来的是系统的高安全性</p>
            </div>
            <div class="body-item">
              <div class="body-bg bg-3"></div>
              <h4>全方位防护</h4>
              <p>SaaS架构，数据库集群、应用服务器集群、缓存服务器集群和静态资源CDN网络加速等全套分布式架构，部署在阿里云上，由企业级云盾提供7x24小时全方位防护</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="functions btn-group" style="display:none;"></div>
  <div class="rotate btn-group" style="display:none;">
    <div class="btn rotatex" data-rotate="x">rotatex</div>
    <div class="btn rotatey" data-rotate="y">rotatey</div>
    <div class="btn rotatez" data-rotate="z">rotatez</div>
  </div>
  <% include './footer.html' %>
  <script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/radialIndicator/1.3.1/radialIndicator.min.js"></script>
  <script src="../public/js/plugins/wave.min.js"></script>
  <script src="../public/js/plugins/erp-wave.js"></script>
  <script src="/public/js/jquery.SuperSlide.2.1.1.js"></script>
  <script src="../public/js/wow.min.js"></script>
  <script>
    new WOW().init();
    var $window = {
      init:function(fn){
        if(typeof fn === 'string'){
          this[fn]();
        }else{
          fn();
        }
      },
      radialIndicator:function(){
        var indicatorContainer = $('#indicatorContainer').find('.step-sign-item');
        var indiArr = [];
        var eleArr = [];
        var eleContainer=$('#part_five').find('.step-item');
        // var eleContainer=document.getElementById('part_five').getElementsByClassName('step-item')
        $.each(indicatorContainer,function(index,obj){
          var indiObj= radialIndicator(obj,{
            barColor: '#3f7ef7',
            barWidth: 3,
            radius: 44,
            initValue: 0,
            // initValue: 25*(index+1),
            fontWeight: 500,
            fontSize: 26,
            format: function (value) {
              return '0'+ (index+1);
            }
          });
          indiArr.push(indiObj);
        })

        function recursionBox(indiArr,len){
          var index = 0;
          var recursion = function(){
            setTimeout(function(){
              var obj = indiArr[index];
              // var indexs1 = [1000,2000,2500,3000][index];
              // var indexs1 = [800,1300,1800,2500][index];
              // var indexs1 = [500,1000,1500,2000][index];
              // $(eleContainer[index]).addClass('fadeIn');
              // console.log(eleContainer[0].className);
              indicatorContainer[index].className = 'step-sign-item wow fadeIn';
              obj.animate(25 * (index + 1));
              setTimeout(function(){
                eleContainer[index].className = 'step-item wow fadeIn';
                if(index<len){
                  index++;
                  recursion();
                }
                // recursion();
              },500);
            },500);
          }
          return recursion();
        }
        function fnScroll(){
          var len = 3;
          return recursionBox(indiArr,len); 
          // $.each(indiArr, function (index, obj) {
          //   var indexs = [0,1500,2000,2500][index];
          //   setTimeout(function(){
          //     var indexs1 = [1000,2000,2500,3000][index];
          //     // $(eleContainer[index]).addClass('fadeIn');
          //     // console.log(eleContainer[0].className);
          //     indicatorContainer[index].className = 'step-sign-item wow fadeIn';
          //     obj.animate(25 * (index + 1));
          //     setTimeout(function(){
          //       eleContainer[index].className = 'step-item wow fadeIn';
          //     },indexs1);
          //   },indexs);
          // });
        }
        // $('.part-five').scroll(fnScroll)
        $(window).scroll(function(e){
          var scrollTop = document.getElementById('part_five').offsetTop-1000;
          if($(window).scrollTop()>scrollTop){
            fnScroll();
          }
        })
      }
    };
    $(function () {
      // animateFn();
      var video = document.getElementById('video');
      $window.init('radialIndicator');
      // var video = $('#video');
      $('#videoPlay').click(function(){
        $(this).addClass('video-active');
        video.play();
        // $('#video').addClass('video-active');
        video.style.background = '#69a7ea'
      });
      video.onended=function(){
        $('#videoPlay').removeClass('video-active');
        // $('#video').removeClass('video-active')
        video.style.background ='#174394'
      }
      function animateFn() {
        var featureBlock = $('#feature_block .block-item');
        var lis = featureBlock[0].getElementsByTagName('li');
        for (var i = 0; i < lis.length; i++) {
          lis[i].style.opacity = 1;
          lis[i].style.width = '180px';
        }
      }

      function testAnim(dom, x) {
        // dom.one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
        dom.removeClass(x).addClass(x + ' animated').one(
          'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
          function () {
            $(this).removeClass(x + ' animated');
          });
      };
      // var featureCoreArr =[$('#feature_core .item-1'),$('#feature_core .item-3')];
      // featureCoreArr.forEach(function(x,index){
      //   x.hover(function(){
      //     var animate;
      //     if(index == 0){
      //       animate = 'fadeInDown'
      //     }else{
      //       animate = 'fadeInLeft'
      //     }
      //     // $('#feature_block .block-item').eq(index).addClass(animate);
      //     testAnim($('#feature_block .block-item').eq(index),animate);
      //   })
      // })
      jQuery("#versionType").slide({
        trigger: "click"
      });
      jQuery("#dotFunction").slide({
        effect: "top",
        trigger: "click",
        easing: "easeInQuint"
      });
    });
  </script>
</body>

</html>