<div id="footer" class="footer">
  <div class="inner clearfix">
    <div class="fl foot-left">
      <div class="clearfix">
        <div class="part-one fl">
          <div class="logo-foot">
            <img src="/public/images/logo_foot.png">
          </div>
          <p class="p1">0755-89332966&nbsp;&nbsp;&nbsp;&nbsp;周一至周六：09:00-18:00</p>
          <p class="p2">TTX@OP110.COM</p>
          <p class="p3">深圳市龙岗区横岗街道力嘉路108号2013文化创客园A312-315</p>
        </div>
        <div class="part-two fl">
          <h3 class="title">了解更多</h3>
          <ul class="items">
            <li class="item"><a href="">小强ERP</a></li>
            <li class="item"><a href="">小强学院</a></li>
            <li class="item"><a href="/case-list">客户案例</a></li>
            <li class="item"><a href="">最新动态</a></li>
          </ul>
        </div>
        <div class="part-two fl">
          <h3 class="title">支持</h3>
          <ul class="items">
            <li class="item"><a href="">帮助中心</a></li>
            <li class="item"><a href="">团队博客</a></li>
            <li class="item"><a href="">售后支持</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="fr foot-right">
      <h3 class="title">关于我们</h3>
      <div class="codes clearfix">
        <div class="fl code">
          <img src="/public/images/code1.png">
          <p>同天下微信号</p>
        </div>
        <div class="fr code">
          <img src="/public/images/code2.png">
          <p>小强学院公众号</p>
        </div>
      </div>
    </div>
  </div>
  <div class="foot-bottom">
    <p>深圳同天下科技有限公司 版权所有 © TONTISA.COM 粤ICP备13025331号</p>
  </div>
</div>
