<div id="header" class="header clearfix">
  <div class="inner">
    <div class="logo">
      <img src="/public/images/logo.png">
    </div>
    <div class="navs">
      <div class="login">
        <a href="">登录</a>
        <a href="">注册</a>
      </div>
      <ul class="menus clearfix">
        <li class="item"><a class="item-a" href="">首页</a></li>
        <li class="item"><a class="item-a" href="">小强ERP</a></li>
        <li class="item active"><a class="item-a" href="">客户案例</a></li>
        <li class="item"><a class="item-a" href="">小强学院</a></li>
        <li class="item">
          <a class="item-a" href="">最新动态</a>
          <div class="sub-box">
            <ul class="sub-menu">
              <li class="sub-item">
                <a class="sub-item-a">企业新闻</a>
              </li>
              <li class="sub-item">
                <a class="sub-item-a">产品资讯</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="item"><a class="item-a" href="">了解我们</a></li>
      </ul>
    </div>
  </div>
</div>
