<div id="header" class="header clearfix">
  <div class="inner">
    <div class="logo">
      <img src="/public/images/logo.png">
    </div>
    <div class="navs">
      <div class="login">
        <a href="">登录</a>
        <a href="">注册</a>
      </div>
      <ul class="menus clearfix">
        <% for item in ctx.app.headerInfo %>
          <% if item.name == '首页' %>
            <li class="item <% if ctx.path.includes('/default') %>active<% endif %>">
              <a class="item-a" href="/">首页</a>
            </li>
          <% elseif item.name == '小强ERP' %>
            <li class="item">
              <a class="item-a" href="/">小强ERP</a>
              <% if item.subMenu.length > 0 %>
                <div class="sub-box">
                  <ul class="sub-menu">
                    <% for child in item.subMenu %>
                    <li class="sub-item">
                      <a class="sub-item-a" href=""><$ child.name $></a>
                    </li>
                    <% endfor %>
                  </ul>
                </div>
              <% endif %>
            </li>
          <% elseif item.name == '小强学院' %>
            <li class="item">
              <a class="item-a" href="/">小强学院</a>
              <% if item.subMenu.length > 0 %>
                <div class="sub-box">
                  <ul class="sub-menu">
                    <% for child in item.subMenu %>
                    <li class="sub-item">
                      <a class="sub-item-a" href=""><$ child.name $></a>
                    </li>
                    <% endfor %>
                  </ul>
                </div>
              <% endif %>
            </li>
          <% elseif item.name == '客户案例' %>
            <li class="item <% if ctx.path.includes('/case-list') or ctx.path.includes('/case-detail') %>active<% endif %>">
              <a class="item-a" href="/case-list">客户案例</a>
              <% if item.subMenu.length > 0 %>
                <div class="sub-box">
                  <ul class="sub-menu">
                    <% for child in item.subMenu %>
                    <li class="sub-item">
                      <a class="sub-item-a" href=""><$ child.name $></a>
                    </li>
                    <% endfor %>
                  </ul>
                </div>
              <% endif %>
            </li>
          <% elseif item.name == '最新动态' %>
            <li class="item <% if ctx.path.includes('/recent-list') %>active<% endif %>">
              <a class="item-a" href="/recent-list">最新动态</a>
              <% if item.subMenu.length > 0 %>
                <div class="sub-box">
                  <ul class="sub-menu">
                    <% for child in item.subMenu %>
                    <li class="sub-item">
                      <a class="sub-item-a" href=""><$ child.name $></a>
                    </li>
                    <% endfor %>
                  </ul>
                </div>
              <% endif %>
            </li>
          <% elseif item.name == '了解我们' %>
            <li class="item">
              <a class="item-a" href="/">了解我们</a>
              <% if item.subMenu.length > 0 %>
                <div class="sub-box">
                  <ul class="sub-menu">
                    <% for child in item.subMenu %>
                    <li class="sub-item">
                      <a class="sub-item-a" href=""><$ child.name $></a>
                    </li>
                    <% endfor %>
                  </ul>
                </div>
              <% endif %>
            </li>
          <% endif %>
        <% endfor %>



        <!-- <li class="item">
          <a class="item-a" href="/">首页</a>
        </li>
        <li class="item"><a class="item-a" href="">小强ERP</a></li>
        <li class="item <% if ctx.path.includes('/case-list') or ctx.path.includes('/case-detail') %>active<% endif %>">
          <a class="item-a" href="case-list">客户案例</a>
        </li>
        <li class="item"><a class="item-a" href="">小强学院</a></li>
        <li class="item <% if ctx.path.includes('/recent-list') %>active<% endif %>">
          <a class="item-a" href="/recent-list">最新动态</a>
          <div class="sub-box">
            <ul class="sub-menu">
              <li class="sub-item">
                <a class="sub-item-a">企业新闻</a>
              </li>
              <li class="sub-item">
                <a class="sub-item-a">产品资讯</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="item"><a class="item-a" href="">了解我们</a></li> -->
      </ul>
    </div>
  </div>
</div>
