<div id="header" class="header clearfix">
  <div class="inner">
    <div class="logo">
      <img src="/public/images/logo.png">
    </div>
    <div class="navs">
      <div class="login">
        <a href="">登录</a>
        <a href="">注册</a>
      </div>
      <ul class="menus clearfix">
        <% for item in ctx.app.headerInfo %>
          <% if item.name == '首页' %>
            <li class="item <% if ctx.path.includes('/default') %>active<% endif %>">
              <a class="item-a" href="/">首页</a>
            </li>
          <% elseif item.name == '小强ERP' %>
            <li class="item <% if ctx.path.includes('/erp-index') or ctx.path.includes('/version-type') or ctx.path.includes('/work-module') or ctx.path.includes('/highlight-fun') %>active<% endif %>">
              <a class="item-a" href="/erp-index">小强ERP</a>
              <% if item.subMenu.length > 0 %>
                <div class="sub-box">
                  <ul class="sub-menu">
                    <% for child in item.subMenu %>
                      <% if child.name == '版本类型' %>
                        <li class="sub-item">
                          <a class="sub-item-a" href="/version-type">版本类型</a>
                        </li>
                      <% elseif child.name == '工作模块' %>
                        <li class="sub-item">
                          <a class="sub-item-a" href="/work-module">工作模块</a>
                        </li>
                      <% elseif child.name == '亮点功能' %>
                        <li class="sub-item">
                          <a class="sub-item-a" href="/highlight-fun">亮点功能</a>
                        </li>
                      <% endif %>
                    <% endfor %>
                  </ul>
                </div>
              <% endif %>
            </li>
          <% elseif item.name == '小强学院' %>
            <li class="item <% if ctx.path.includes('/erp-school') or ctx.path.includes('/trust-circle') or ctx.path.includes('/infor-train') or ctx.path.includes('/team-build') %>active<% endif %>">
              <a class="item-a" href="/erp-school">小强学院</a>
              <% if item.subMenu.length > 0 %>
                <div class="sub-box">
                  <ul class="sub-menu">
                    <% for child in item.subMenu %>
                      <% if child.name == '销售罗盘《信任五环》' %>
                        <li class="sub-item">
                          <a class="sub-item-a" href="/trust-circle">销售罗盘《信任五环》</a>
                        </li>
                      <% elseif child.name == '信息化技能培训' %>
                        <li class="sub-item">
                          <a class="sub-item-a" href="/infor-train">信息化技能培训</a>
                        </li>
                      <% elseif child.name == '心灵团建' %>
                        <li class="sub-item">
                          <a class="sub-item-a" href="/team-build">心灵团建</a>
                        </li>
                      <% endif %>
                    <% endfor %>
                  </ul>
                </div>
              <% endif %>
            </li>
          <% elseif item.name == '客户案例' %>
            <li class="item <% if ctx.path.includes('/case-list') or ctx.path.includes('/case-detail') %>active<% endif %>">
              <a class="item-a" href="/case-list">客户案例</a>
              <% if item.subMenu.length > 0 %>
                <div class="sub-box">
                  <ul class="sub-menu">
                    <% for child in item.subMenu %>
                    <li class="sub-item">
                      <a class="sub-item-a" href=""><$ child.name $></a>
                    </li>
                    <% endfor %>
                  </ul>
                </div>
              <% endif %>
            </li>
          <% elseif item.name == '最新动态' %>
            <li class="item <% if ctx.path.includes('/recent-list') or ctx.path.includes('/cpy-news') or ctx.path.includes('/product-news') %>active<% endif %>">
              <a class="item-a" href="/recent-list">最新动态</a>
              <% if item.subMenu.length > 0 %>
                <div class="sub-box">
                  <ul class="sub-menu">
                    <% for child in item.subMenu %>
                    <% if child.name == '企业新闻' %>
                      <li class="sub-item">
                        <a class="sub-item-a" href="/cpy-news">企业新闻</a>
                      </li>
                    <% elseif child.name == '产品资讯' %>
                      <li class="sub-item">
                        <a class="sub-item-a" href="/product-news">产品资讯</a>
                      </li>
                    <% endif %>
                    <% endfor %>
                  </ul>
                </div>
              <% endif %>
            </li>
          <% elseif item.name == '了解我们' %>
            <li class="item <% if ctx.path.includes('/know-us') or ctx.path.includes('/page-report') or ctx.path.includes('/page-join') or ctx.path.includes('/page-contact') %>active<% endif %>">
              <a class="item-a" href="/know-us">了解我们</a>
              <% if item.subMenu.length > 0 %>
                <div class="sub-box">
                  <ul class="sub-menu">
                    <% for child in item.subMenu %>
                    <li class="sub-item">
                      <a class="sub-item-a" href=""><$ child.name $></a>
                    </li>
                    <% endfor %>
                  </ul>
                </div>
              <% endif %>
            </li>
          <% endif %>
        <% endfor %>



        <!-- <li class="item">
          <a class="item-a" href="/">首页</a>
        </li>
        <li class="item"><a class="item-a" href="">小强ERP</a></li>
        <li class="item <% if ctx.path.includes('/case-list') or ctx.path.includes('/case-detail') %>active<% endif %>">
          <a class="item-a" href="case-list">客户案例</a>
        </li>
        <li class="item"><a class="item-a" href="">小强学院</a></li>
        <li class="item <% if ctx.path.includes('/recent-list') %>active<% endif %>">
          <a class="item-a" href="/recent-list">最新动态</a>
          <div class="sub-box">
            <ul class="sub-menu">
              <li class="sub-item">
                <a class="sub-item-a">企业新闻</a>
              </li>
              <li class="sub-item">
                <a class="sub-item-a">产品资讯</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="item"><a class="item-a" href="">了解我们</a></li> -->
      </ul>
    </div>
  </div>
</div>
