<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>亮点功能</title>
  <link rel="stylesheet" href="public/css/reset.css">
  <link rel="stylesheet" href="/public/css/layout.css">
  <link rel="stylesheet" href="../public/css/animate.min.css">
  <link rel="stylesheet" href="../public/css/highlight.css">
</head>

<body class="page-know">
  <% include './header.html' %>

  <div id="content" class="main-content">
    <div class="page-light">
      <div class="banner">
        <h2 class="wow slideInDown">细致且全面的亮点功能</h2>
        <p class="wow slideInDown" data-wow-delay="0.1">解决各种场景下遇到的问题</p>
        <div class="img wow slideInUp"></div>
        <div id="flickerBox" class="inner box">
          <span class="text text1">集团化功能</span>
          <span class="text text2">数据统计</span>
          <span class="text text3">扫码付</span>
          <span class="text text4">公共文件柜</span>
          <span class="text text5">电子合同</span>
          <span class="text text6">证件识别</span>
          <span class="text text7">订单状态管理</span>
          <span class="text text8">销售移动端</span>
          <span class="text text9">财务系统对接</span>
          <span class="text text10">大屏数据战报</span>
          <span class="text text11">订单延时</span>
          <span class="text text12">机票库存</span>
          <span class="text text13">团期指定销售</span>
          <span class="text text14">前台自主下单</span>
          <span class="text text15">游客黑名单</span>
          <span class="text text16">成本审核</span>
          <span class="flicker flicker1"></span>
          <span class="flicker flicker2"></span>
          <span class="flicker flicker3"></span>
          <span class="flicker flicker4"></span>
          <span class="flicker flicker5"></span>
          <span class="flicker flicker6"></span>
          <span class="flicker flicker7"></span>
          <span class="flicker flicker8"></span>
          <span class="flicker flicker9"></span>
          <span class="flicker flicker10"></span>
          <span class="flicker flicker11"></span>
          <span class="flicker flicker12"></span>
          <span class="flicker flicker13"></span>
          <span class="flicker flicker14"></span>
          <span class="flicker flicker15"></span>
          <span class="flicker flicker16"></span>
        </div>
      </div>
      <div class="boxs">
        <div class="box">
          <div class="inner clearfix">
            <div class="img">
              <img src="/public/images/highlight/img1.png" alt="扫码付">
            </div>
            <div class="info">
              <h3 class="title">扫码付</h3>
              <p class="sub-title">一键生成付款二维码，同时支持支付宝和微信扫码付款</p>
              <div class="items">
                <p>每笔订单可自动生成二维码</p>
                <p>随时随地发给客户/ 同业/ 公司内部等扫一扫</p>
                <p>仅需十几秒即可完成收款、转账操作</p>
                <p>且财务自动确认，无需审核</p>
                <p>系统自动走完付款确认流程</p>
                <p>旅行社的24 小时移动POS 机</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="inner clearfix">
            <div class="img">
              <img src="/public/images/highlight/img1.png" alt="证件识别">
            </div>
            <div class="info">
              <h3 class="title">证件识别</h3>
              <p class="sub-title">身份证、护照、港澳通行证信息识别</p>
              <div class="items">
                <p>拍照上传证件照片即可完成识别并完成信息录入</p>
                <p>PC 端、移动端均可上传</p>
                <p>系统自动识别身份证、护照、港澳通行证等证件信息</p>
                <p>1 秒采集，识别正确率高达97%</p>
                <p>系统还可自动生成游客的保险、出票、出团名单</p>
                <p>告别手动录名单的繁琐工作</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="inner clearfix">
            <div class="img">
              <img src="/public/images/highlight/img1.png" alt="电子合同">
            </div>
            <div class="info">
              <h3 class="title">电子合同</h3>
              <p class="sub-title">行程添加游客信息即可生成电子合同，支持在线签署</p>
              <div class="items">
                <p>订单确认后即可一键自动生成电子合同</p>
                <p>手机点击链接即可随时随地完成在线签署</p>
                <p>后台可实时查看合同签署状态并下载合同</p>
                <p>告别几十页的纸质合同打印</p>
                <p>全程无纸化、透明化，快捷且规范</p>
                <p>省纸省钱又省事</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="inner clearfix">
            <div class="img">
              <img src="/public/images/highlight/img1.png" alt="机票库存管理">
            </div>
            <div class="info">
              <h3 class="title">机票库存管理</h3>
              <p class="sub-title">支持多家旅行社共享一套机位，实时监控机位动态</p>
              <div class="items">
                <p>可让机票大盘成员之间可以对接库存数据</p>
                <p>实现包机大盘实时共享机位动态</p>
                <p>帮助所有成员公平方便地管理大盘</p>
                <p>不再担心漏用、超量使用机位</p>
                <p>系统自动提醒上订、付款、开票等日期</p>
                <p>一套机位可同时建立多团多产品，满足产品多样化</p>
                <p>可与多城市联运售卖，便于全国市场收客</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="inner clearfix">
            <div class="img">
              <img src="/public/images/highlight/img1.png" alt="机票库存管理">
            </div>
            <div class="info">
              <h3 class="title">未认账款模板导入</h3>
              <p class="sub-title">可将Excel记录的到账明细批量账款一键导入到财务系统</p>
              <div class="items">
                <p>大公司财务接到的客户打款多且杂乱</p>
                <p>财务往往通通记录在一个Excel表格中</p>
                <p>批量导入功能可以节省财务很多的工作量</p>
                <p>财务一键轻松导入账款</p>
                <p>销售一键认领任何</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="inner clearfix">
            <div class="img">
              <img src="/public/images/highlight/img1.png" alt="机票库存管理">
            </div>
            <div class="info">
              <h3 class="title">团期计划高级筛选</h3>
              <p class="sub-title">高级搜索中可对开放团、对接团、机票库存团、常规团进行筛选</p>
              <div class="items">
                <p>库存中常有对接团、开放团、机票库存团、常规团等</p>
                <p>各种类型产品团期混杂在一起</p>
                <p>经常让计调和销售分不清楚自家和他家产品</p>
                <p>团期高级筛选可轻松协助操作人员辨别团期</p>
                <p>迅速找到对口的产品</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tabBoxs" class="tab-boxs">
        <div class="tab-box">
          <div class="inner">
            <ul class="clearfix head">
              <li class="active">游客黑名单</li>
              <li>机票库存提醒日期</li>
              <li>团期指定销售</li>
              <li>供应商产品指定门店</li>
              <li>销售移动端</li>
              <li>公共文件柜</li>
            </ul>
          </div>
          <div class="body">
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="游客黑名单">
                  </div>
                  <div class="info">
                    <h3 class="title">游客黑名单</h3>
                    <p class="sub-title">可以将游客拉入黑名单，再次下单系统自动提醒</p>
                    <div class="items">
                      <p>可自主将游客添加进黑名单</p>
                      <p>并可备注拉黑原因</p>
                      <p>自动对进入黑名单的游客进行提醒</p>
                      <p>可自主地管理游客</p>
                      <p>不用再受麻烦的游客困扰</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="机票库存提醒日期">
                  </div>
                  <div class="info">
                    <h3 class="title">机票库存提醒日期</h3>
                    <p class="sub-title">可设置提醒日期，微信提醒跟航司对接付款、取消、改名、出票的时间</p>
                    <div class="items">
                      <p>创建库存团期时可设置提醒日期</p>
                      <p>可提前微信提醒付款、取消、改名、出票等事项</p>
                      <p>保证票务人员及时快速地跟航司核对并操作</p>
                      <p>减少漏票、超票、付款不及时导致的机票损失</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="团期指定销售">
                  </div>
                  <div class="info">
                    <h3 class="title">团期指定销售</h3>
                    <p class="sub-title">计调开团时可以设置指定销售</p>
                    <div class="items">
                      <p>不同的销售擅长销售的产品不同</p>
                      <p>指定销售可以更好地分配资源</p>
                      <p>形成差异化优势</p>
                      <p>帮助产品更好地销售</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="供应商产品指定门店">
                  </div>
                  <div class="info">
                    <h3 class="title">供应商产品指定门店</h3>
                    <p class="sub-title">综合社供应商产品上传时可以指定门店销售</p>
                    <div class="items">
                      <p>不同的零售端口各有所长</p>
                      <p>设置制定门店可以让产品差异化推广</p>
                      <p>或形成区域化独家销售</p>
                      <p>提升门店竞争力</p>
                      <p>也照顾到发团时定点接车的发车路线</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="销售移动端">
                  </div>
                  <div class="info">
                    <h3 class="title">销售移动端</h3>
                    <p class="sub-title">销售可以在系统中绑定自己的个人微信，实现移动端操作</p>
                    <div class="items">
                      <p>销售登录系统后可以绑定自己的个人微信</p>
                      <p>在微信上即可进行产品查询、预订、下单、调账、录名单、业务统计等</p>
                      <p>还可生成收款码面对面给客户支付</p>
                      <p>实现7*24销售收客</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="公共文件柜">
                  </div>
                  <div class="info">
                    <h3 class="title">公共文件柜</h3>
                    <p class="sub-title">线上文件共享储存</p>
                    <div class="items">
                      <p>公共文件柜可保存常用的文件</p>
                      <p>并实现在线预览office、pdf文档和留言等</p>
                      <p>解决内部员工资讯共享</p>
                      <p>存数据的问题</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-box">
          <div class="inner">
            <ul class="clearfix">
              <li>数据统计</li>
              <li>供应商设置对应OP</li>
              <li>机票库存提醒日期</li>
              <li>名单自定义上传模板</li>
              <li>订单预留时长设置</li>
              <li>订单延时</li>
            </ul>
          </div>
          <div class="body">
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="数据统计">
                  </div>
                  <div class="info">
                    <h3 class="title">数据统计</h3>
                    <p class="sub-title">可对业务情况进行多维度的深度分析，并以图表形式展示</p>
                    <div class="items">
                      <p>汇总系统中所有业务数据</p>
                      <p>并能按任意维度进行排行展示</p>
                      <p>让旅行社管理者可通过数据深入分析每一个员工、客户和产品</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="供应商设置对应OP">
                  </div>
                  <div class="info">
                    <h3 class="title">供应商设置对应OP</h3>
                    <p class="sub-title">可将供应商信息只开放给特定OP</p>
                    <div class="items">
                      <p>可实现集团各分公司的供应商信息单独设置可见范围</p>
                      <p>有效避免不同分公司互看合作供应商的信息和附件合同等</p>
                      <p>保护各分公司的供应商数据隐私</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="机票库存提醒日期">
                  </div>
                  <div class="info">
                    <h3 class="title">机票库存提醒日期</h3>
                    <p class="sub-title">可设置提醒日期，微信提醒跟航司对接付款、取消、改名、出票的时间</p>
                    <div class="items">
                      <p>创建库存团期时可设置提醒日期</p>
                      <p>可提前微信提醒付款、取消、改名、出票等事项</p>
                      <p>保证票务人员及时快速地跟航司核对并操作</p>
                      <p>减少漏票、超票、付款不及时导致的机票损失</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="名单自定义上传模板">
                  </div>
                  <div class="info">
                    <h3 class="title">名单自定义上传模板</h3>
                    <p class="sub-title">支持客户自定义上传名单模板</p>
                    <div class="items">
                      <p>一键上传自定义模板内容</p>
                      <p>并科设置自定义导出名单形式</p>
                      <p>避免计调一份名单导出反复制作</p>
                      <p>可实现用户给不同航司、境内外地接、酒店等设置不同的名单模版</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="订单预留时长设置">
                  </div>
                  <div class="info">
                    <h3 class="title">订单预留时长设置</h3>
                    <p class="sub-title">可对团期订单个性化设置预留时长</p>
                    <div class="items">
                      <p>可控制预留位和清位的时间</p>
                      <p>到期系统自动清位</p>
                      <p>更好地管理产品销售</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="订单延时">
                  </div>
                  <div class="info">
                    <h3 class="title">订单延时</h3>
                    <p class="sub-title">可对团期订单个性化设置延时</p>
                    <div class="items">
                      <p>能对特定订单设置延时</p>
                      <p>灵活地处理预留单的预留时间</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-box">
          <div class="inner">
            <ul class="clearfix">
              <li>销售助理业绩统计</li>
              <li>客户及销售欠款额度设置</li>
              <li>确认书自动生成和管理</li>
              <li>多种成本分摊方式</li>
              <li>团期计划改价前台同步</li>
              <li>订单状态管理</li>
            </ul>
          </div>
          <div class="body">
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="销售助理业绩统计">
                  </div>
                  <div class="info">
                    <h3 class="title">销售助理业绩统计</h3>
                    <p class="sub-title">能设置订单的销售助理并统计销售助理的业绩</p>
                    <div class="items">
                      <p>汇总系统中所有业务数据</p>
                      <p>并能按任意维度进行排行展示</p>
                      <p>让旅行社管理者可通过数据深入分析每一个员工、客户和产品</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="客户及销售欠款额度设置">
                  </div>
                  <div class="info">
                    <h3 class="title">客户及销售欠款额度设置</h3>
                    <p class="sub-title">可以给客户和销售设置了欠款上限</p>
                    <div class="items">
                      <p>一旦欠款超过上限系统主动提醒并限制下单</p>
                      <p>让销售催收款变得积极</p>
                      <p>让旅行社更好地把控风险</p>
                      <p>再也不用担心欠款过多让公司元气大伤</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="确认书自动生成和管理">
                  </div>
                  <div class="info">
                    <h3 class="title">确认书自动生成和管理</h3>
                    <p class="sub-title">系统自动生成确认书</p>
                    <div class="items">
                      <p>节省计调/销售工作量</p>
                      <p>同时要求销售必须把确认书的扫描件上传到团附件</p>
                      <p>票务开票随时可查阅是否已签确认书</p>
                      <p>避免客人信息有误造成的不必要的损失</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="多种成本分摊方式">
                  </div>
                  <div class="info">
                    <h3 class="title">多种成本分摊方式</h3>
                    <p class="sub-title">操作成本安排可选择公摊、非公摊、制定订单三种分摊方式</p>
                    <div class="items">
                      <p>公摊成本可精准到把成本摊到每个团期订单销售以及游客身上</p>
                      <p>指定订单成本可精准摊到团期对应销售订单中</p>
                      <p>非公摊成本录入可有效避免因团期票损导致的销售平摊成本</p>
                      <p>合理的成本分摊方式能精准核算整团成本毛利并提高销售的积极性</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="团期计划改价前台同步">
                  </div>
                  <div class="info">
                    <h3 class="title">团期计划改价前台同步</h3>
                    <p class="sub-title">后台改变售价前台网站自动同步更改</p>
                    <div class="items">
                      <p>适用于旅游产品的价格发布策略</p>
                      <p>使用传统的微信、QQ、短信、电话通知改价容易通知不到客户</p>
                      <p>而在系统上直接更改后</p>
                      <p>客户前端网站查询直接显示最新价格</p>
                      <p>不再因为改价通知不及时造成纠纷</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="订单状态管理">
                  </div>
                  <div class="info">
                    <h3 class="title">订单状态管理</h3>
                    <p class="sub-title">订单“已处理”状态时，销售更改订单信息必须发起申请</p>
                    <div class="items">
                      <p>订单被OP设置成“已处理”状态时</p>
                      <p>销售无法随意更改订单信息</p>
                      <p>需要更改必须发起申请</p>
                      <p>不再出现以前那种销售私下临时调整订单</p>
                      <p>避免操作没及时处理造成的不必要的损失</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-box">
          <div class="inner">
            <ul class="clearfix">
              <li>前台自主下单</li>
              <li>优化和设置账号权限</li>
              <li>成本审核</li>
              <li>集团化功能</li>
              <li>财务系统对接</li>
              <li>系统数据对接</li>
            </ul>
          </div>
          <div class="body">
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="前台自主下单">
                  </div>
                  <div class="info">
                    <h3 class="title">前台自主下单</h3>
                    <p class="sub-title">客户可以通过前台网站直接查询、下单、付款、确认</p>
                    <div class="items">
                      <p>节省了销售处理客户下单、付款的时间</p>
                      <p>大大缩短了销售花在流程工作上的时间</p>
                      <p>帮助销售把时间放在开拓客户上</p>
                      <p>让销售告别加班，实现业绩倍增</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="优化和设置账号权限">
                  </div>
                  <div class="info">
                    <h3 class="title">优化和设置账号权限</h3>
                    <p class="sub-title">根据业务场景和岗位职责来设置操作人员的可用功能和权限</p>
                    <div class="items">
                      <p>由小强ERP专业客服协助梳理旅行社的内部组织架构和流程</p>
                      <p>帮助客户设置每一位员工账号权限和职责</p>
                      <p>更好地实现内部员工和流程地规范化高效管理</p>
                      <p>避免权限划分不明确造成地工作失误</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="成本审核">
                  </div>
                  <div class="info">
                    <h3 class="title">成本审核</h3>
                    <p class="sub-title">OP录入成本后需要管理人员审核确认</p>
                    <div class="items">
                      <p>一般旅行社需要在出发前3天录入成本</p>
                      <p>收团后7天内做好全部审核</p>
                      <p>成本审核可以规范旅行社内部流程</p>
                      <p>保证制度地准确实施</p>
                      <p>让太忙不再成为拖延的借口</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="集团化功能">
                  </div>
                  <div class="info">
                    <h3 class="title">集团化功能</h3>
                    <p class="sub-title">多个独立分公司可使用一套系统共享产品资源同时财务独立</p>
                    <div class="items">
                      <p>满足集团分公司之间的财务独立</p>
                      <p>同时又能共享资源和前端前台网站</p>
                      <p>最大限度地提升集团公司的运营效率</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="财务系统对接">
                  </div>
                  <div class="info">
                    <h3 class="title">财务系统对接</h3>
                    <p class="sub-title">可直接跟金蝶用友等财务软件进行无缝对接</p>
                    <div class="items">
                      <p>无缝对接金蝶、用友等财务系统</p>
                      <p>系统间档案可实时互传，对接精准直达</p>
                      <p>应收/ 应付/ 收付款平账/ 报销账单等，一键生成凭证</p>
                      <p>大大减少财务工作量、避免数据错误</p>
                      <p>对接安全、高效、实惠</p>
                      <p>市面上性价比最高的财务系统对接平台</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="box">
                <div class="inner clearfix">
                  <div class="img">
                    <img src="/public/images/highlight/img1.png" alt="系统数据对接">
                  </div>
                  <div class="info">
                    <h3 class="title">系统数据对接</h3>
                    <p class="sub-title">提供商小强ERP 系统API 接口，可一站式直采OTA线路，对接其他系统</p>
                    <div class="items">
                      <p>提供商小强ERP 系统API 接口</p>
                      <p>无缝对接外部系统</p>
                      <p>可一站式直采携程、途牛、去哪儿、众信等OTA 线路</p>
                      <p>并支持对接CRM、OA、HR 等系统数据</p>
                      <p>数据安全100% 保障、运行稳定</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include './footer.html' %>

<script src="/public/js/jquery-1.11.1.min.js"></script>
<script src="../public/js/wow.min.js"></script>
<script>
  new WOW().init();
  $(function() {
    var ranNum = Math.floor(Math.random()*10+7);
    $('#flickerBox').find('.text').eq(ranNum).addClass('text-active');
    $('#flickerBox').find('.flicker').eq(ranNum).addClass('flicker-active');
    setTimeout(function() {
      $('#flickerBox').find('.text').eq(ranNum).removeClass('text-active');
      $('#flickerBox').find('.flicker').eq(ranNum).removeClass('flicker-active');
    }, 3000);

    setInterval(function() {
      var num = Math.floor(Math.random()*10+7);
      $('#flickerBox').find('.text').eq(num).addClass('text-active').siblings().removeClass('text-active');
      $('#flickerBox').find('.flicker').eq(num).addClass('flicker-active').siblings().removeClass('flicker-active');
    }, 3000);

    //内容切换
    $('#tabBoxs').on('click', 'li', function() {
      var $index = $(this).index();
      $(this).parents('.tab-boxs').find('li').removeClass('active');
      $(this).addClass('active');
      $(this).parents('.tab-box').find('.body').css('height', '590px');
      $(this).parents('.tab-box').find('.body').find('.post').eq($index).addClass('active').siblings().removeClass('active');
      $(this).parents('.tab-box').siblings().find('.body').css('height', 0);
    });
  })
</script>
</body>
</html>
