<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>了解我们</title>
  <link rel="stylesheet" href="public/css/reset.css">
  <link rel="stylesheet" href="/public/css/layout.css">
  <link rel="stylesheet" href="../public/css/animate.min.css">
  <link rel="stylesheet" href="../public/css/page-know.css">
</head>

<body class="page-know">
  <% include './header.html' %>

  <div id="content" class="main-content">
    <div class="slide"></div>
    <div class="content">
      <div class="top clearfix">
        <h1 class="title">公司介绍</h1>
        <ul id="tabHead" class="tab-menu">
          <li class="active">同天下介绍</li>
          <li>团队介绍</li>
          <li>发展历程</li>
        </ul>
        <ul class="link-menu">
          <a href="/page-report">媒体报道</a>
          <a href="/page-contact">联系我们</a>
          <a href="/page-join">加入我们</a>
        </ul>
      </div>
      <div id="enName" class="head">
        <h3 class="name active"><span>Company</span></h3>
        <h3 class="name"><span>Team</span></h3>
        <h3 class="name"><span>Development History</span></h3>
      </div>
      <div id="tabBody" class="body">
        <div class="box about-us">
          <span class="bold">深圳同天下科技有限公司</span>是集旅游企业综合性ERP系统研发、销售及建立行业数据中心为一体的新型互联网企业，也是国家及深圳市高新技术企业。<br><br>
          目前旗下有小强ERP系列产品【旅游批发商互联网解决方案】【组团社互联网解决方案】【同业分销解决方案】【小ERP 移动版】，及【旅游人助手】【旅老板】六大产品，
          具有“内部智能管理、全网络营销、数据连接”三大特色信息化服务，可解决旅行社信息化办公、分销需求及行业间的资源整合。同天下小强系统还可与各大OTA 及旅游平台实现数据互通互联，
          也可以帮助旅游同业进行数据对接。<br><br>
          同天下总部位于深圳，业务范围扩至全国90% 地区，在北京、广州、武汉、成都、郑州、贵州、昆明等多地开展驻点服务，业务量每年呈几何级趋势增长。
          <div class="certi-imgs clearfix">
            <div class="img">
              <img src="/public/images/know_us/certi1.png" alt="">
              <p>国家高新技术企业证书</p>
            </div>
            <div class="img">
              <img src="/public/images/know_us/certi2.png" alt="">
              <p>深圳市高新技术企业证书</p>
            </div>
            <div class="img">
              <img src="/public/images/know_us/certi3.png" alt="">
              <p>深圳市旅游协会常务理事单位</p>
            </div>
          </div>
          <div class="type">
            <p class="title">公司前台</p>
            <img src="/public/images/know_us/about_us_big_img1.png" alt="公司前台图片">
            <p class="title">办公区域</p>
            <img src="/public/images/know_us/about_us_big_img2.png" alt="办公区域图片">
          </div>
        </div>
        <div class="box team-us">
          <div class="type">
            <p class="title">同天下团队</p>
            <img src="/public/images/know_us/team_us_big_img1.png" alt="同天下团队图片">
            <div class="desc">
              同天下拥有近百人的团队规模，由分别来自于金融、IT、旅游行业的精英组成​。团队成员有着诚信、积极、创新的精神，行业知识丰富，服务专业​，
              且在研发、销售及客户服务方面有着十几年的资深经验。目前同天下分别在北京，深圳，广州，山东，河南，云南，四川等地建立长期服务网点，
              确保为用户提供优质的解决方案和体验，协助旅行社做大做强​。
            </div>
            <p class="title">高级研发团队</p>
            <img src="/public/images/know_us/team_us_big_img2.png" alt="高级研发团队图片">
            <div class="desc">
              同天下技术团队拥有完善的产品研发体系，团队成员具有多年的软件开发经验，其中不乏曾在知名旅游B2B2C平台担任产品研发的负责人​，
              以及独立开发开源框架EasyASP的省级先进研发精英。研发人员普遍精通SaaS模式，JAVA技术等，具有较强的产品开发能力。​
            </div>
            <p class="title">专业客服团队</p>
            <img src="/public/images/know_us/team_us_big_img3.png" alt="专业客服图片">
            <div class="desc">
              同天下客服团队通过日积月累的专业售后服务，拥有丰富的培训心得和经验。客户拥有多样化的服务形式，可以为新老用户提供视频学习课程、工单在线问答，
              智能题库解答，驻点区域上门培训等服务​，全方位地解决新老客户在学习和使用同天下产品过程中遇到的问题​。
            </div>
          </div>
        </div>
        <div class="box develop-us">
          <div class="post">
            <div class="col clearfix col-1">
              <div class="year">2013<span>年</span></div>
              <div class="line"></div>
              <div class="desc">
                <h3>应时而生</h3>
                <p>深圳同天下科技有限公司成立</p>
                <p>小强ERP系统问世，展开对旅游业信息化未来的探索</p>
              </div>
            </div>
            <div class="hover hover-1 clearfix">
              <div class="hover-year">2013<span>年</span></div>
              <div class="hover-desc">
                <h3>应时而生</h3>
                <p>深圳同天下科技有限公司成立</p>
                <p>小强ERP系统问世，展开对旅游业信息化未来的探索</p>
              </div>
            </div>
          </div>
          <div class="post">
            <div class="col clearfix col-2">
              <div class="desc">
                <h3>迅速壮大</h3>
                <p>小强ERP系统用户数快速增长，突破10000家</p>
                <p>小强ERP·V3 系统升级上线，迅速占领旅行社ERP市场</p>
              </div>
              <div class="line"></div>
              <div class="year">2014-2015<span>年</span></div>
            </div>
            <div class="hover hover-2 clearfix">
              <div class="hover-desc">
                <h3>迅速壮大</h3>
                <p>小强ERP系统用户数快速增长，突破10000家</p>
                <p>小强ERP·V3 系统升级上线，迅速占领旅行社ERP市场</p>
              </div>
              <div class="hover-year">2014-2015<span>年</span></div>
            </div>
          </div>
          <div class="post">
            <div class="col clearfix col-3">
              <div class="year">2016-2017<span>年</span></div>
              <div class="line"></div>
              <div class="desc">
                <h3>创新不止</h3>
                <p>启动“旅游资源共享大会”全国路演</p>
                <p>获得国家高新技术企业认证</p>
                <p>上线旅游人助手</p>
                <p>上线组批系统</p>
                <p>成功对接OTA、财务系统</p>
                <p>成立小强学院</p>
                <p>领跑旅游业信息化之路</p>
              </div>
            </div>
            <div class="hover hover-3 clearfix">
              <div class="hover-year">2016-2017<span>年</span></div>
              <div class="hover-desc">
                <h3>创新不止</h3>
                <p>启动“旅游资源共享大会”全国路演</p>
                <p>获得国家高新技术企业认证</p>
                <p>上线旅游人助手</p>
                <p>上线组批系统</p>
                <p>成功对接OTA、财务系统</p>
                <p>成立小强学院</p>
                <p>领跑旅游业信息化之路</p>
              </div>
            </div>
          </div>
          <div class="post">
            <div class="col clearfix col-4">
              <div class="desc">
                <h3>同路天下</h3>
                <p>小强ERP 系统用户破16000家</p>
                <p>小强学院全国开课，培训逾百家旅行社</p>
                <p>《旅老板》上线，建立旅游碎片化资源分销服务平台</p>
              </div>
              <div class="line"></div>
              <div class="year">2018<span>年至今</span></div>
            </div>
            <div class="hover hover-4 clearfix">
              <div class="hover-desc">
                <h3>同路天下</h3>
                <p>小强ERP 系统用户破16000家</p>
                <p>小强学院全国开课，培训逾百家旅行社</p>
                <p>《旅老板》上线，建立旅游碎片化资源分销服务平台</p>
              </div>
              <div class="hover-year">2018<span>年至今</span></div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include './footer.html' %>

<script src="/public/js/jquery-1.11.1.min.js"></script>
<script>
  $(function() {
    var aboutBodyHeight = $('#tabBody').find('.about-us').height();
    $('#tabBody').css('height', aboutBodyHeight+'px');
    $('#tabHead').on('click', 'li', function() {
      var $index = $(this).index();
      $(this).addClass('active').siblings().removeClass('active');
      $('#enName').find('.name').eq($index).addClass('active').siblings().removeClass('active');
      $('#tabBody').find('.box').eq($index).css('opacity', 1).siblings().css('opacity', 0);
      if($(this).html() == '同天下介绍') {
        $('#tabBody').css('height', aboutBodyHeight+'px');
      } else if($(this).html() == '团队介绍') {
        var teamBodyHeight = $('#tabBody').find('.team-us').height();
        $('#tabBody').css('height', teamBodyHeight+'px');
      } else if($(this).html() == '发展历程') {
        var developBodyHeight = $('#tabBody').find('.develop-us').height();
        $('#tabBody').css('height', developBodyHeight + 50 +'px');
      }
    });
  });
</script>
</body>
</html>
