<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>新闻详情</title>
  <link rel="stylesheet" href="public/css/reset.css">
  <link rel="stylesheet" href="public/css/layout.css">
  <link rel="stylesheet" href="../public/css/animate.min.css">
  <link rel="stylesheet" href="../public/css/news-detail.css">
</head>
<body>
  <% include './header.html' %>
  <div id="content" class="main-content">
    <div class="page-detail">
      <div class="inner">
        <div id="wecode" class="wecode">
          <div><img src="public/images/detail_wecode.jpg" alt=""></div>
          <span class="line"></span>
          <h4>同天下“小强学院”</h4>
          <p>专为旅游人服务</p>
          <p>扫码关注最新动态</p>
        </div>
        <div class="content">
          <h3 class="info-title">传统旅行社玩转电商会员营销，只需这三步</h3>
          <p class="sub-title">
            <span class="date">2018-08-30 10:37</span>
            <span>同天下 小强ERP 会员营销</span>
          </p>
          <div class="line"></div>
          <div class="info">
            在前端网站注册账号的游客，都是我们的会员！
            但注册的会员都是普通游客身份，如果这些消费者中有我们的同行，且我们想给到他们同行价，就可以进入小强ERP系统-网站-网站会
            员管理，把他们一键转为同行！
             有了会员之后，我们可以通过积分设置，达到多少分，就是多少级。或者设置储值会员，在平台充值多少，即可到达多少级。设置等级
            后，就可以对不同等级的会员给予不同的优惠。
            关于会员积分如何获得，则可以进入网站-营销管理-积分政策，为特定线路设置一定的积分。这样，购买了该线路的游客就可以获得相
            应的积分奖励！
            <br><br>
            <img src="public/images/trust_icon/trust_bg1.jpg">
            <br><br>
            下面，同姐教你三步玩转会员营销！
          </div>
          <div class="qa-info">
            <h6 class="q-title">会员从哪里获得？</h6>
            <div class="info">
              进入电商，会看见各种针对会员进行的营销花样。从注册会员，到签到送积分，到新品优惠等，这些都是精心策划的会员营销活动。
              这种通过赚积分和积分互动来沉淀新客户以及激活老客户的会员营销方式十分有效，有助于培养大批忠诚者，形成长期稳定的消费市场，从而使商家赚得盆满钵满！
              作为传统旅行社，看到电商玩会员营销很羡慕，但自己又很难玩，通常只能印刷优惠券，但是纸质优惠券不仅麻烦还容易出错，客户也难以把握时效性，偶尔还发生扯皮等。
              难道传统旅行社不能搭上网站会员营销这班快车吗？不，我们也可以！小强ERP系统已为用户贴心搭建了一个强大的后台，用户只要在这基础上随意设置各种积分规则，
              玩出自己的百般花样就可以啦
            </div>
            <h6 class="q-title">如何玩转会员积分营销？</h6>
            <div class="info">
              为了提高前端网站的用户粘度，提升用户对旅行社的忠诚度，我们可以针对不同等级的会员推出以下五种优惠活动：
              满几减几活动：如暑期亲子出游高峰，我们可以设置满三减一，通过减免孩子的费用，抓住这部分亲子游客户。
              满额立减活动：通过满额立减活动，引导客户购买更多线路或者购买更贵的线路。
              早鸟优惠：可以给同行、批发设置早鸟价，如出团前30天减500块，提早收客，减少押客，提前资金回笼。
              在线优惠：通过给予在线下单优惠，鼓励客户在前台网站自助下单，解放销售！
              超值早鸟：设置超值早鸟优惠，提前越多天购买，享受越大的优惠！刺激用户提前购买，快速去库存。
            </div>
          </div>
        </div>
      </div>
      <div id="relative" class="relative">
        <div class="inner">
          <div class="module-title clearfix">
            <h3 class="wow fadeInDown">相关案例</h3>
            <a class="more rotate-more wow fadeInRight" href="/case-list" data-wow-delay="0.3s">查看更多<span class="lines"></span></a>
          </div>
          <ul class="list clearfix">
            <li class="item clearfix">
              <a href="">
                <div class="img">
                  <img src="public/images/banner2.jpg">
                  <div class="overaly">
                    <p class="date">08-20</p>
                    <p class="year">2018</p>
                  </div>
                </div>
                <div class="info">
                  <h3 class="title">传统旅行社玩转电商会员营销，只需这三步就行</h3>
                  <div class="summary">
                    同样身为旅行社销售，有的销售月薪3000，有的月薪30000，到底是什么原因造成这么大的区别？
                  </div>
                </div>
              </a>
            </li>
            <li class="item clearfix">
              <a href="">
                <div class="img">
                  <img src="public/images/banner2.jpg">
                  <div class="overaly">
                    <p class="date">08-20</p>
                    <p class="year">2018</p>
                  </div>
                </div>
                <div class="info">
                  <h3 class="title">传统旅行社玩转电商会员营销，只需这三步就行</h3>
                  <div class="summary">
                    同样身为旅行社销售，有的销售月薪3000，有的月薪30000，到底是什么原因造成这么大的区别？
                  </div>
                </div>
              </a>
            </li>
            <li class="item clearfix">
              <a href="">
                <div class="img">
                  <img src="public/images/banner2.jpg">
                  <div class="overaly">
                    <p class="date">08-20</p>
                    <p class="year">2018</p>
                  </div>
                </div>
                <div class="info">
                  <h3 class="title">传统旅行社玩转电商会员营销，只需这三步就行</h3>
                  <div class="summary">
                    同样身为旅行社销售，有的销售月薪3000，有的月薪30000，到底是什么原因造成这么大的区别？
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% include './footer.html' %>

  <script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="../public/js/wow.min.js"></script>
  <script>
    new WOW().init();
    $(function() {
      var screenWidth = $('.page-detail').width();
      var $width = (screenWidth - 1200)/2;
      $('#wecode').css('left', $width+945 + 'px');
      $('#wecode').show();
      $(window).scroll(function() {
				var t = document.documentElement.scrollTop || document.body.scrollTop;
        var r = $('#relative').offset().top;
        console.log(r);
				if(t > 148) {
					$('#wecode').css('top', '88px');
				}
				if(t < 45){
					$('#wecode').css('top', '148px');
				}
        if(t > r-500) {
          $('#wecode').css('top', '-235px');
        }
			});
    });
  </script>
</body>
</html>
