<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>媒体报道</title>
  <link rel="stylesheet" href="public/css/reset.css">
  <link rel="stylesheet" href="/public/css/layout.css">
  <link rel="stylesheet" href="../public/css/animate.min.css">
  <link rel="stylesheet" href="../public/css/page-know.css">
</head>

<body class="page-know">
  <% include './header.html' %>

  <div id="content" class="main-content">
    <div class="slide"></div>
    <div class="content">
      <div class="top clearfix">
        <h1 class="title">媒体报道</h1>
        <ul class="link-menu">
          <a href="/know-us">公司介绍</a>
          <a href="/page-join">加入我们</a>
          <a href="/page-contact">联系我们</a>
        </ul>
      </div>
      <div id="enName" class="head">
        <img src="/public/images/know_us/sign_report.jpg" alt="媒体报道图">
      </div>
      <div id="tabBody" class="body">
        <ul class="report-list">
          <li class="item clearfix">
            <div class="date">
              <p>07-16<span>2018</span></p>
            </div>
            <div class="title">
              <a target="_blank" href="https://www.toutiao.com/i6578784053309211139/" title="同天下小强学院：接地气的旅游人实战之地">
                同天下小强学院：接地气的旅游人实战之地
              </a>
            </div>
            <div class="origin">今日头条</div>
          </li>
          <li class="item clearfix">
            <div class="date">
              <p>07-16<span>2018</span></p>
            </div>
            <div class="title">
              <a target="_blank" href="http://www.enet.com.cn/article/2018/1017/A20181017055053.html" title="同天下《信任五环》第三季度全国公益巡讲圆满结束">
                同天下《信任五环》第三季度全国公益巡讲圆满结束
              </a>
            </div>
            <div class="origin">硅谷动力</div>
          </li>
          <li class="item clearfix">
            <div class="date">
              <p>07-16<span>2018</span></p>
            </div>
            <div class="title">
              <a target="_blank" href="http://www.enet.com.cn/article/2018/1017/A20181017055054.html" title="小强ERP“应用市场”上线，系旅行社办公系统首创">
                小强ERP“应用市场”上线，系旅行社办公系统首创
              </a>
            </div>
            <div class="origin">硅谷动力</div>
          </li>
          <li class="item clearfix">
            <div class="date">
              <p>06-22<span>2018</span></p>
            </div>
            <div class="title">
              <a target="_blank" href="https://tech.china.com/article/20180622/kejiyuan0531156033.html" title="同天下小强ERP，助力旅行社实现信息化">
                同天下小强ERP，助力旅行社实现信息化
              </a>
            </div>
            <div class="origin">中华网</div>
          </li>
          <li class="item clearfix">
            <div class="date">
              <p>06-15<span>2018</span></p>
            </div>
            <div class="title">
              <a target="_blank" href="http://www.enet.com.cn/article/2018/0615/A20180615049154.html" title="SaaS服务商，独立最重要">
                SaaS服务商，独立最重要
              </a>
            </div>
            <div class="origin">硅谷动力</div>
          </li>
          <li class="item clearfix">
            <div class="date">
              <p>11-01<span>2017</span></p>
            </div>
            <div class="title">
              <a target="_blank" href="http://www.enet.com.cn/article/2017/1101/A20171101038775.html" title="产业链各节点联合起来，推动中国迈向世界旅游强国">
                产业链各节点联合起来，推动中国迈向世界旅游强国
              </a>
            </div>
            <div class="origin">硅谷动力</div>
          </li>
          <li class="item clearfix">
            <div class="date">
              <p>10-17<span>2017</span></p>
            </div>
            <div class="title">
              <a target="_blank" href="http://www.lieyunwang.com/archives/373137" title="从SAAS技术服务到大数据服务，同天下助力旅游服务的信息化进程">
                从SAAS技术服务到大数据服务，同天下助力旅游服务的信息化进程
              </a>
            </div>
            <div class="origin">猎云</div>
          </li>
          <li class="item clearfix">
            <div class="date">
              <p>09-21<span>2017</span></p>
            </div>
            <div class="title">
              <a target="_blank" href="https://36kr.com/p/5092548.html" title="不止于提供管理工具，旅游 SaaS 服务商「同天下」还有库存共享模块">
                不止于提供管理工具，旅游 SaaS 服务商「同天下」还有库存共享模块
              </a>
            </div>
            <div class="origin">36氪</div>
          </li>
          <li class="item clearfix">
            <div class="date">
              <p>07-25<span>2017</span></p>
            </div>
            <div class="title">
              <a target="_blank" href="http://www.tripvivid.com/articles/10894" title="瞄准市场痛点，同天下如何赋能传统旅行社？">
                瞄准市场痛点，同天下如何赋能传统旅行社？
              </a>
            </div>
            <div class="origin">执惠</div>
          </li>
          <li class="item clearfix">
            <div class="date">
              <p>01-25<span>2017</span></p>
            </div>
            <div class="title">
              <a target="_blank" href="https://www.qichacha.com/postnews_bc541e1720b8eef6bc94a63c7df25482.html" title="人物| 深圳同天下科技有限公司创始人兼CEO 沈龙泉：在谈B2B 色变的当下，重拾B2B真意">
                人物| 深圳同天下科技有限公司创始人兼CEO 沈龙泉：在谈B2B 色变的当下，重拾B2B真意
              </a>
            </div>
            <div class="origin">旅行社资讯</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <% include './footer.html' %>

<script src="/public/js/jquery-1.11.1.min.js"></script>
<script>
  $(function() {

  });
</script>
</body>
</html>
