<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>产品资讯</title>
  <link rel="stylesheet" href="public/css/reset.css">
  <link rel="stylesheet" href="public/css/layout.css">
  <link rel="stylesheet" href="../public/css/animate.min.css">
  <link rel="stylesheet" href="public/css/product-news.css">
  <style>
    .case-pagination {
      margin: 20px 0;
      text-align: center;
    }
  </style>
</head>
<body>
  <% include './header.html' %>
  <div id="content" class="main-content">
    <div class="banner-normal">
      <img src="public/images/banner2.jpg">
      <div class="overaly"></div>
      <div class="box">
        <h2 class="title">信任五环·公益课圆满结束</h2>
        <p class="sub-title">2018年8月19日深圳站《信任五环》公开课圆满结束</p>
        <a class="more" href=""><span>了解详情</span></a>
      </div>
    </div>
    <div class="product-news">
      <div class="inner">
        <ul class="list clearfix"> 
          <% for item in list %>
          <li class="item clearfix">
            <a href="">
              <div class="img">
                <img src="<$ item.imgUrl $>">
                <div class="overaly">
                  <p class="date"><$ item.showTime.slice(5,11) $></p>
                  <p class="year"><$ item.showTime.slice(0,4) $></p>
                </div>
              </div>
              <div class="info">
                <h3 class="title"><$ item.title $></h3>
                <div class="summary">
                  <$ item.description $>
                </div>
              </div>
            </a>
          </li>
          <% endfor %>
          <!-- <li class="item clearfix">
            <a href="">
              <div class="img">
                <img src="public/images/banner2.jpg">
                <div class="overaly">
                  <p class="date">08-20</p>
                  <p class="year">2018</p>
                </div>
              </div>
              <div class="info">
                <h3 class="title">传统旅行社玩转电商会员营销，只需这三步就行</h3>
                <div class="summary">
                  同样身为旅行社销售，有的销售月薪3000，有的月薪30000，到底是什么原因造成这么大的区别？
                </div>
              </div>
            </a>
          </li> -->
        </ul>
      </div>
      <div class="case-pagination"></div>
    </div>
  </div>
  <% include './footer.html' %>

  <script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="../public/js/wow.min.js"></script>
  <script src="public/js/laypage.js"></script>
  <script>
    new WOW().init();
    $(function () {
      // 分页变量
      var page = {
        pages: '<$ page.pages $>',
        // pages: '<$ page.total $>',
        pageNum: '<$ page.pageNum $>'
      };
      if (location.search) {
        window.scroll(0, 300);
      }

      function paging(arg) {
        laypage({
          cont: $('.case-pagination'),
          pages: page.pages,
          curr: page.pageNum,
          skin: '#0386CA',
          groups: 5,
          jump: function (obj, first) {
            if (!first) {
              // window.location.href = location.href + '#1'
              // setScrollTop();
              // window.location.href = window.location.protocol + '//'+ window.location.host + window.location.pathname +
              console.log('obj:', obj);
              var queryStr = '?page=' + obj.curr;
              var hrefStr = window.location.protocol + '//' + window.location.host + window.location.pathname +
                queryStr;
              window.location.replace(hrefStr);
            }
          }
        });
      }
      paging();
    });
  </script>
</body>
</html>
