<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>新闻详情</title>
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="/public/css/layout.css">
  <link rel="stylesheet" href="/public/css/animate.min.css">
  <link rel="stylesheet" href="/public/css/news-detail.css">
</head>
<body>
  <% include './header.html' %>
  <div id="content" class="main-content">
    <div class="page-detail">
      <div class="inner">
        <div id="wecode" class="wecode">
          <div><img src="/public/images/detail_wecode.jpg" alt=""></div>
          <span class="line"></span>
          <h4>同天下“小强学院”</h4>
          <p>专为旅游人服务</p>
          <p>扫码关注最新动态</p>
        </div>
        <div class="content">
          <h3 class="info-title"><$ data.title $></h3>
          <p class="sub-title">
            <span class="date"><$ data.showTime $></span>
            <span><$ data.content.tag $></span>
          </p>
          <div class="line"></div>
          <div class="info">
             <$ data.content.content | safe $>
            <!-- <br><br> -->
            <!-- <img src="<$ data.imgUrl $>"> -->
            <!-- <br><br> -->
            <!-- 下面，同姐教你三步玩转会员营销！ -->
          </div>
          <div class="qa-info">
            <% for item in data.content.question %>
            <h6 class="q-title"><$ item.question $></h6>
            <div class="info">
              <$ item.answer $>
            </div>
            <% endfor %>
            <!-- <h6 class="q-title">如何玩转会员积分营销？</h6>
            <div class="info">
              为了提高前端网站的用户粘度，提升用户对旅行社的忠诚度，我们可以针对不同等级的会员推出以下五种优惠活动：
              满几减几活动：如暑期亲子出游高峰，我们可以设置满三减一，通过减免孩子的费用，抓住这部分亲子游客户。
              满额立减活动：通过满额立减活动，引导客户购买更多线路或者购买更贵的线路。
              早鸟优惠：可以给同行、批发设置早鸟价，如出团前30天减500块，提早收客，减少押客，提前资金回笼。
              在线优惠：通过给予在线下单优惠，鼓励客户在前台网站自助下单，解放销售！
              超值早鸟：设置超值早鸟优惠，提前越多天购买，享受越大的优惠！刺激用户提前购买，快速去库存。
            </div> -->
          </div>
        </div>
      </div>
      <div id="relative" class="relative">
        <div class="inner">
          <div class="module-title clearfix">
            <h3 class="wow fadeInDown">相关案例</h3>
            <a class="more rotate-more wow fadeInRight" href="/case-list" data-wow-delay="0.3s">查看更多<span class="lines"></span></a>
          </div>
          <ul class="list clearfix">
            <li class="item clearfix">
              <a href="">
                <div class="img">
                  <img src="public/images/banner2.jpg">
                  <div class="overaly">
                    <p class="date">08-20</p>
                    <p class="year">2018</p>
                  </div>
                </div>
                <div class="info">
                  <h3 class="title">传统旅行社玩转电商会员营销，只需这三步就行</h3>
                  <div class="summary">
                    同样身为旅行社销售，有的销售月薪3000，有的月薪30000，到底是什么原因造成这么大的区别？
                  </div>
                </div>
              </a>
            </li>
            <li class="item clearfix">
              <a href="">
                <div class="img">
                  <img src="public/images/banner2.jpg">
                  <div class="overaly">
                    <p class="date">08-20</p>
                    <p class="year">2018</p>
                  </div>
                </div>
                <div class="info">
                  <h3 class="title">传统旅行社玩转电商会员营销，只需这三步就行</h3>
                  <div class="summary">
                    同样身为旅行社销售，有的销售月薪3000，有的月薪30000，到底是什么原因造成这么大的区别？
                  </div>
                </div>
              </a>
            </li>
            <li class="item clearfix">
              <a href="">
                <div class="img">
                  <img src="public/images/banner2.jpg">
                  <div class="overaly">
                    <p class="date">08-20</p>
                    <p class="year">2018</p>
                  </div>
                </div>
                <div class="info">
                  <h3 class="title">传统旅行社玩转电商会员营销，只需这三步就行</h3>
                  <div class="summary">
                    同样身为旅行社销售，有的销售月薪3000，有的月薪30000，到底是什么原因造成这么大的区别？
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% include './footer.html' %>

  <script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="../public/js/wow.min.js"></script>
  <script>
    new WOW().init();
    $(function() {
      var screenWidth = $('.page-detail').width();
      var $width = (screenWidth - 1200)/2;
      $('#wecode').css('left', $width+945 + 'px');
      $('#wecode').show();
      $(window).scroll(function() {
				var t = document.documentElement.scrollTop || document.body.scrollTop;
        var r = $('#relative').offset().top;
        console.log(r);
				if(t > 148) {
					$('#wecode').css('top', '88px');
				}
				if(t < 45){
					$('#wecode').css('top', '148px');
				}
        if(t > r-500) {
          $('#wecode').css('top', '-235px');
        }
			});
    });
  </script>
</body>
</html>
