<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>最新动态</title>
  <link rel="stylesheet" href="public/css/reset.css">
  <link rel="stylesheet" href="public/css/layout.css">
  <link rel="stylesheet" href="../public/css/animate.min.css">
  <link rel="stylesheet" href="public/css/revolution.css">
  <link rel="stylesheet" href="public/css/recent.css">
</head>
<body>
  <% include './header.html' %>
  <div id="content" class="main-content">
    <div class="tp-banner-container">
      <div class="ad-box inner">
        <div class="box">
          <p class="one">信任五环</p>
          <p class="two">超级销售公益课</p>
          <div class="three">
            <h3>广州站</h3>
            <span>8月25日</span>
          </div>
          <p class="four">火热报名中</p>
          <a class="five" href="">立即报名</a>
        </div>
      </div>
      <div class="tp-banner swiper-container">
        <ul>
          <% for item in bannerList %>
            <li data-transition="slideleft" data-slotamount="9" data-masterspeed="1500">
              <img src="<$ item.imgUrl $>" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
              <div class="recent-box tp-caption lfr" data-x="0" data-y="130" data-speed="800">
                <h2 class="title"><$ item.title $></h2>
                <p class="sub-title"><$ item.description $></p>
                <a class="more" href=""><span>了解详情</span></a>
              </div>
            </li>
            <!-- <li data-transition="slideleft" data-slotamount="9" data-masterspeed="1500">
              <div class="overaly tp-caption" data-speed="0" data-start="0"></div>
              <img src="public/images/banner2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
              <div class="recent-box tp-caption lfr" data-x="0" data-y="130" data-speed="800">
                <h2 class="title">信任五环·公益课圆满结束</h2>
                <p class="sub-title">2018年8月19日深圳站《信任五环》公开课圆满结束</p>
                <a class="more" href=""><span>了解详情</span></a>
              </div>
            </li> -->
          <% endfor %>
        </ul>
      </div>
    </div>
    <div class="recent-list">
      <div class="cpy-news module">
        <div class="inner">
          <h2 class="module-title">企业新闻</h2>
          <div class="list">
            <% for item in newsList %>
              <% if loop.index < 4 %>
              <div class="item clearfix">
                <div class="img">
                  <img src="<$ item.imgUrl $>">
                </div>
                <div class="info">
                  <h3><a href=""><$ item.title $></a></h3>
                  <p class="tags">
                    <span class="time"><$ item.showTime $></span>
                    <span></span>
                  </p>
                  <div class="summary">
                    <$ item.description $>
                  </div>
                </div>
              </div>
              <% endif %>
            <% endfor %>
            <!-- <div class="item clearfix">
              <div class="img">
                <img src="public/images/banner2.jpg">
              </div>
              <div class="info">
                <h3><a href="">昨天，同天下居然“膨胀了”？</a></h3>
                <p class="tags">
                  <span class="time">2018-08-04 18:04</span>
                  <span>同天下 魔鬼训练营</span>
                </p>
                <div class="summary">
                  昨天，同天下“膨胀了”因为我们的队伍又壮大了！欢迎7位新加入的小伙伴通过1个月的魔鬼训练营，以优异成绩顺利毕业，正式加入同天下大家庭
                </div>
              </div>
            </div> -->
          </div>
          <a class="more" href="/cpy-news">查看更多</a>
        </div>
      </div>
      <div class="same-view module">
        <div class="inner">
          <h2 class="module-title">同业专访</h2>
          <div id="viewBox" class="view-box">
            <div class="body">
              <ul class="clearfix">
                <% for item in viewList %>
                <li>
                  <div class="col">
                    <a href="/view-detail/<$ item.id $>">
                      <div class="hd">
                        <img src="<$ item.imgUrl $>">
                      </div>
                      <div class="bd">
                        <p class="name"><$ item.title $></p>
                        <p class="cpy"><$ item.secondTitle $></p>
                      </div>
                      <div class="ft">
                        <$ item.description $>
                      </div>
                    </a>
                  </div>
                </li>
                <% endfor %>
              </ul>
            </div>
            <div class="head">
      				<a class="next"></a>
      				<a class="prev"></a>
      			</div>
          </div>
        </div>
      </div>
      <div class="product-news module">
        <div class="inner">
          <h2 class="module-title">产品资讯</h2>
          <ul class="list clearfix">
            <% for item in productList %>
            <% if loop.index < 7 %>
            <li class="item clearfix">
              <a href="/news-detail/<$ item.id $>">
                <div class="img">
                  <img src="<$ item.imgUrl $>">
                  <div class="overaly">
                    <p class="date"><$ item.showTime.slice(5,11) $></p>
                    <p class="year"><$ item.showTime.slice(0,4) $></p>
                  </div>
                </div>
                <div class="info">
                  <h3 class="title"><$ item.title $></h3>
                  <div class="summary">
                    <$ item.description $>
                  </div>
                </div>
              </a>
            </li>
            <% endif %>
            <% endfor %>
            <!-- <li class="item clearfix">
              <a href="">
                <div class="img">
                  <img src="public/images/banner2.jpg">
                  <div class="overaly">
                    <p class="date">08-20</p>
                    <p class="year">2018</p>
                  </div>
                </div>
                <div class="info">
                  <h3 class="title">传统旅行社玩转电商会员营销，只需这三步就行</h3>
                  <div class="summary">
                    同样身为旅行社销售，有的销售月薪3000，有的月薪30000，到底是什么原因造成这么大的区别？
                  </div>
                </div>
              </a>
            </li> -->
          </ul>
          <a class="more" href="/product-news">查看更多</a>
        </div>
      </div>
    </div>
  </div>
  <% include './footer.html' %>

  <script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="public/js/jquery.themepunch.plugins.min.js"></script>
  <script src="public/js/jquery.themepunch.revolution.min.js"></script>
  <script src="public/js/jquery.SuperSlide.2.1.1.js"></script>

  <script>
    $(function() {
      localStorage.removeItem('objCase');

      if($('#viewBox .body').find('li').length < 5) {
        $('#viewBox .head').hide();
      }

      $('.tp-banner').revolution({
        delay: 6000,
        startwidth: 1200,
        startheight: 490,
        fullWidth: 'on',
        forceFullWidth: "on",
        onHoverStop: 'on',
        hideThumbs: 10
      });

      var slideNum = $('#viewBox .body').find('li').length;
      jQuery("#viewBox").slide({titCell:".head ul", mainCell:".body ul", autoPage:true, effect:"left", easing:"easeOutCubic", scroll:1, vis:4, pnLoop:false});


      // var $arrowPrev = $('#viewBox .head').find('.prev');
      // var $arrowNext = $('#viewBox .head').find('.next');
      // $arrowNext.on('click', function() {
      //   var $slideNum = $('#viewBox .body').find('li').length;
      //   var $slideWidth = $slideNum*300;
      //   var modulePx = $slideWidth%1200;
      //   console.log('$slideNum', $slideNum);
      //   if($slideNum > 4) {
      //     if(modulePx != 0) {
      //       var getUlLeft = Math.abs($('#viewBox .body').find('ul').css('left').slice(0,-2));
      //       if($slideWidth - getUlLeft - 1200 - modulePx == 0) {
      //         if(modulePx == 900) {
      //           console.log('-' + ($slideWidth-300));
      //           var $slideNum = $('#viewBox .body').find('ul').css('left', 0)
      //         }
      //       }
      //     }
      //   }
      // });

    });
  </script>
</body>
</html>
