<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>最新动态</title>
  <link rel="stylesheet" href="public/css/reset.css">
  <link rel="stylesheet" href="public/css/layout.css">
  <link rel="stylesheet" href="../public/css/animate.min.css">
  <link rel="stylesheet" href="public/css/revolution.css">
  <link rel="stylesheet" href="public/css/recent.css">
</head>
<body>
  <% include './header.html' %>
  <div id="content" class="main-content">
    <div class="tp-banner-container">
      <div class="ad-box inner">
        <div class="box">
          <p class="one">信任五环</p>
          <p class="two">超级销售公益课</p>
          <div class="three">
            <h3>广州站</h3>
            <span>8月25日</span>
          </div>
          <p class="four">火热报名中</p>
          <a class="five" href="">立即报名</a>
        </div>
      </div>
      <div class="tp-banner swiper-container">
        <ul>
          <li data-transition="slideleft" data-slotamount="9" data-masterspeed="1500">
            <div class="overaly tp-caption" data-speed="0" data-start="0"></div>
            <img src="public/images/banner2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
            <div class="recent-box tp-caption lfr" data-x="0" data-y="130" data-speed="800">
              <h2 class="title">信任五环·公益课圆满结束</h2>
              <p class="sub-title">2018年8月19日深圳站《信任五环》公开课圆满结束</p>
              <a class="more" href=""><span>了解详情</span></a>
            </div>
          </li>
          <li data-transition="slideleft" data-slotamount="9" data-masterspeed="1500">
            <div class="overaly tp-caption" data-speed="0" data-start="0"></div>
            <img src="public/images/banner2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
            <div class="recent-box tp-caption lfr" data-x="0" data-y="130" data-speed="800">
              <h2 class="title">信任五环·公益课圆满结束</h2>
              <p class="sub-title">2018年8月19日深圳站《信任五环》公开课圆满结束</p>
              <a class="more" href=""><span>了解详情</span></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="recent-list">
      <div class="cpy-news module">
        <div class="inner">
          <h2 class="module-title">企业新闻</h2>
          <div class="list">
            <div class="item clearfix">
              <div class="img">
                <img src="public/images/banner2.jpg">
              </div>
              <div class="info">
                <h3><a href="">昨天，同天下居然“膨胀了”？</a></h3>
                <p class="tags">
                  <span class="time">2018-08-04 18:04</span>
                  <span>同天下 魔鬼训练营</span>
                </p>
                <div class="summary">
                  昨天，同天下“膨胀了”因为我们的队伍又壮大了！欢迎7位新加入的小伙伴通过1个月的魔鬼训练营，以优异成绩顺利毕业，正式加入同天下大家庭
                </div>
              </div>
            </div>
            <div class="item clearfix">
              <div class="img">
                <img src="public/images/banner2.jpg">
              </div>
              <div class="info">
                <h3><a href="">昨天，同天下居然“膨胀了”？</a></h3>
                <p class="tags">
                  <span class="time">2018-08-04 18:04</span>
                  <span>同天下 魔鬼训练营</span>
                </p>
                <div class="summary">
                  昨天，同天下“膨胀了”因为我们的队伍又壮大了！欢迎7位新加入的小伙伴通过1个月的魔鬼训练营，以优异成绩顺利毕业，正式加入同天下大家庭
                </div>
              </div>
            </div>
          </div>
          <a class="more" href="">查看更多</a>
        </div>
      </div>
      <div class="same-view module">
        <div class="inner">
          <h2 class="module-title">同业专访</h2>
          <div id="viewBox" class="view-box">
            <div class="body">
              <ul class="clearfix">
                <li>
                  <div class="col">
                    <a href="">
                      <div class="hd">
                        <img src="public/images/banner2.jpg">
                      </div>
                      <div class="bd">
                        <p class="name">陈澎葰</p>
                        <p class="cpy">腾邦旅游集团 副总裁</p>
                      </div>
                      <div class="ft">
                        旅业强势黑马
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="col">
                    <a href="">
                      <div class="hd">
                        <img src="public/images/banner2.jpg">
                      </div>
                      <div class="bd">
                        <p class="name">陈澎葰</p>
                        <p class="cpy">腾邦旅游集团 副总裁</p>
                      </div>
                      <div class="ft">
                        旅业强势黑马
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="col">
                    <a href="">
                      <div class="hd">
                        <img src="public/images/banner2.jpg">
                      </div>
                      <div class="bd">
                        <p class="name">陈澎葰</p>
                        <p class="cpy">腾邦旅游集团 副总裁</p>
                      </div>
                      <div class="ft">
                        旅业强势黑马
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="col">
                    <a href="">
                      <div class="hd">
                        <img src="public/images/banner2.jpg">
                      </div>
                      <div class="bd">
                        <p class="name">陈澎葰</p>
                        <p class="cpy">腾邦旅游集团 副总裁</p>
                      </div>
                      <div class="ft">
                        旅业强势黑马
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="col">
                    <a href="">
                      <div class="hd">
                        <img src="public/images/banner2.jpg">
                      </div>
                      <div class="bd">
                        <p class="name">陈澎葰</p>
                        <p class="cpy">腾邦旅游集团 副总裁</p>
                      </div>
                      <div class="ft">
                        旅业强势黑马
                      </div>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="head">
      				<a class="next"></a>
      				<a class="prev"></a>
      			</div>
          </div>
        </div>
      </div>
      <div class="produce-news module">
        <div class="inner">
          <h2 class="module-title">产品资讯</h2>
        </div>
      </div>
    </div>
  </div>
  <% include './footer.html' %>

  <script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="public/js/jquery.themepunch.plugins.min.js"></script>
  <script src="public/js/jquery.themepunch.revolution.min.js"></script>
  <script src="public/js/jquery.SuperSlide.2.1.1.js"></script>

  <script>
    $(function() {
      localStorage.removeItem('objCase');

      $('.tp-banner').revolution({
        delay: 6000,
        startwidth: 1200,
        startheight: 490,
        fullWidth: 'on',
        forceFullWidth: "on",
        onHoverStop: 'on',
        hideThumbs: 10
      });

      jQuery("#viewBox").slide({titCell:".head ul", mainCell:".body ul", autoPage:true, effect:"left", easing:"easeOutCubic", scroll:4, vis:4, pnLoop:false});
    });
  </script>
</body>
</html>
