<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
  <title>Document</title>
  <style>
    .module-steps{

    }
    .step-h3{
      text-align: center;
      font-size: 40px;
      font-weight: 500;
      margin: 0;
    }
    .step-head p{
      text-align: center;
      font-size: 14px;
    }
    .steps-box{
      display: table;
    }
    .step-item{
      display: table-cell;
      padding: 0 30px;
    }
    .step-item h4{
      text-align: center
    }
    .step-item p{
      text-align: center
    }
  </style>
</head>
<body>
  <div>
    <!-- hello <$ a $> -->
  </div>
  <div class="module-steps">
    <div class="step-head">
      <h3 class="step-h3">只需4步，即可完成旅行社的信息化跨越</h3>
      <p>每人每天不到一块钱</p>
    </div>
    <div class="steps-sign-box">
      <div class="sign-item"></div>
    </div>
    <div class="steps-box">
      <div class="step-item">
        <h4>梳理需求</h4>
        <p>有耐心的客户经理为您梳理需求，匹配版本和功能</p>
      </div>
      <div class="step-item">
        <h4>梳理需求</h4>
        <p>有耐心的客户经理为您梳理需求，匹配版本和功能</p>
      </div>
      <div class="step-item">
        <h4>梳理需求</h4>
        <p>有耐心的客户经理为您梳理需求，匹配版本和功能</p>
      </div>
      <div class="step-item">
        <h4>梳理需求</h4>
        <p>有耐心的客户经理为您梳理需求，匹配版本和功能</p>
      </div>
    </div>
  </div>
</body>
</html>