<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>版本类型</title>
  <link rel="stylesheet" href="public/css/reset.css">
  <link rel="stylesheet" href="public/css/layout.css">
  <link rel="stylesheet" href="../public/css/animate.min.css">
  <link rel="stylesheet" href="public/css/version-type.css">
  <link rel="stylesheet" href="public/css/keyframes.css">
</head>

<body>
  <% include './header.html' %>
  <div id="content" class="main-content">
    <div class="page-version">
      <div class="banner">
        <h2 class="wow slideInDown">丰富的版本类型</h2>
        <p class="wow slideInDown" data-wow-delay="0.1">满足各类旅行社的需要</p>
        <div class="img wow slideInUp"></div>
        <div class="inner box">
          <span class="text text1">综合社</span>
          <span class="text text2">大盘包机业务</span>
          <span class="text text3">集团化业务</span>
          <span class="text text4">综合批发商</span>
          <span class="text text5">专线批发商</span>
          <span class="text text6">单项资源业务</span>
          <span class="text text7">定制包团批发商</span>
          <span class="text text8">海岛线批发商</span>
          <i class="icon icon1"></i>
          <i class="icon icon2"></i>
          <i class="icon icon3"></i>
          <i class="icon icon4"></i>
          <i class="icon icon5"></i>
          <i class="icon icon6"></i>
          <i class="icon icon7"></i>
          <i class="icon icon8"></i>
        </div>
      </div>
      <div class="types">
        <div class="inner">
          <div class="posts clearfix wow slideInUp">
            <div class="post">
              <div class="top"></div>
              <div class="box">
                <div class="hd clearfix">
                  <i class="icon icon1"></i>
                  <div class="text">
                    <h4>综合社</h4>
                    <p>既有批发业务又有组团业务，既对同业又对直客</p>
                  </div>
                </div>
                <div class="bd">
                  <p>运营中心轻松管理加盟的营业部、线路供应商</p>
                  <p>合同发放，保险项目在线管理</p>
                  <p>供应商线路不合格，可一键下架</p>
                  <p>营业部业绩实时查看</p>
                  <p>能对三方财务板块进行联合管理，每一笔业务账目清晰</p>
                </div>
                <a class="more" href="">产品咨询</a>
              </div>
            </div>
            <div class="post">
              <div class="top"></div>
              <div class="box">
                <div class="hd clearfix">
                  <i class="icon icon2"></i>
                  <div class="text">
                    <h4>大盘包机业务</h4>
                    <p>多个旅行社合作包机，共享一套机票大盘</p>
                  </div>
                </div>
                <div class="bd">
                  <p>实时查看库存及各旅行社的销售情况</p>
                  <p>股份制合作，权限分立</p>
                  <p>机票op轻松管理库存</p>
                  <p>可根据机票库存直接建团</p>
                  <p>上订、二订、出票日期信息提醒</p>
                </div>
                <a class="more" href="">产品咨询</a>
              </div>
            </div>
          </div>
          <div class="posts clearfix wow slideInUp">
            <div class="post">
              <div class="top"></div>
              <div class="box">
                <div class="hd clearfix">
                  <i class="icon icon3"></i>
                  <div class="text">
                    <h4>集团化业务</h4>
                    <p>集团下有多个分公司，财务独立结算</p>
                  </div>
                </div>
                <div class="bd">
                  <p>一套系统管理全部业务</p>
                  <p>产品共享，财务各自独立</p>
                  <p>集团统一管理</p>
                  <p>轻松查看各分公司的业务情况</p>
                </div>
                <a class="more" href="">产品咨询</a>
              </div>
            </div>
            <div class="post">
              <div class="top"></div>
              <div class="box">
                <div class="hd clearfix">
                  <i class="icon icon4"></i>
                  <div class="text">
                    <h4>综合批发商</h4>
                    <p>主营多个旅游目的地的旅游批发商</p>
                  </div>
                </div>
                <div class="bd">
                  <p>多线路同时管理，线路类别清晰</p>
                  <p>供应商分类管理，迅速找到想要资源</p>
                  <p>全面的的客户资料管理功能</p>
                  <p>可视化的客户统计分析，一键即可导出报表</p>
                  <p>合同附件储存，合同期限随时可查</p>
                </div>
                <a class="more" href="">产品咨询</a>
              </div>
            </div>
          </div>
          <div class="posts clearfix wow slideInUp">
            <div class="post">
              <div class="top"></div>
              <div class="box">
                <div class="hd clearfix">
                  <i class="icon icon5"></i>
                  <div class="text">
                    <h4>专线批发商</h4>
                    <p>专注专线业务</p>
                  </div>
                </div>
                <div class="bd">
                  <p>团期余位，随时可查</p>
                  <p>特殊团期可标记，突出周结、月结客户</p>
                  <p>一键导出账单，高效核对，批量结算</p>
                  <p>成本明细导出核对，批量结款</p>
                </div>
                <a class="more" href="">产品咨询</a>
              </div>
            </div>
            <div class="post">
              <div class="top"></div>
              <div class="box">
                <div class="hd clearfix">
                  <i class="icon icon6"></i>
                  <div class="text">
                    <h4>定制包团批发商</h4>
                    <p>非常规的行程，业务员来说无法第一时间得到实际价格</p>
                  </div>
                </div>
                <div class="bd">
                  <p>强大的团队报价功能</p>
                  <p>能根据客户需求提交询价申请</p>
                  <p>op在系统中选择预备的资源，即可给出准确报价</p>
                  <p>业务员接受OP的价格后，系统自动建团</p>
                  <p>第一时间得到实际价格</p>
                </div>
                <a class="more" href="">产品咨询</a>
              </div>
            </div>
          </div>
          <div class="posts clearfix wow slideInUp">
            <div class="post">
              <div class="top"></div>
              <div class="box">
                <div class="hd clearfix">
                  <i class="icon icon7"></i>
                  <div class="text">
                    <h4>单项资源业务</h4>
                    <p>机票、门票、酒店资源单项卖</p>
                  </div>
                </div>
                <div class="bd">
                  <p>另设单项业务板块，安排一步到位</p>
                  <p>多个单项业务订单批量一件导入</p>
                  <p>扫码付轻松解决单项业务付款问题</p>
                </div>
                <a class="more" href="">产品咨询</a>
              </div>
            </div>
            <div class="post">
              <div class="top"></div>
              <div class="box">
                <div class="hd clearfix">
                  <i class="icon icon8"></i>
                  <div class="text">
                    <h4>海岛线批发商</h4>
                    <p>专注东南亚海岛线路</p>
                  </div>
                </div>
                <div class="bd">
                  <p>能清晰呈现众多点机票和酒店供应商信息，方便查找</p>
                  <p>机+酒+水上项目等零散成本添加方便</p>
                  <p>资源可在系统中进行统一管理</p>
                  <p>首付、请款流程简单清晰</p>
                </div>
                <a class="more" href="">产品咨询</a>
              </div>
            </div>
          </div>
          <div class="posts clearfix wow slideInUp">
            <div class="post">
              <div class="top"></div>
              <div class="box">
                <div class="hd clearfix">
                  <i class="icon icon9"></i>
                  <div class="text">
                    <h4>中东非批发商</h4>
                    <p>专注中东非旅游线路</p>
                  </div>
                </div>
                <div class="bd">
                  <p>网站余位展示可控数量</p>
                  <p>成本录入可按团可按订单，轻松核算出每个订单的毛利</p>
                  <p>购物返佣、自费返佣登记，快速了解团队利润</p>
                </div>
                <a class="more" href="">产品咨询</a>
              </div>
            </div>
            <div class="post">
              <div class="top"></div>
              <div class="box">
                <div class="hd clearfix">
                  <i class="icon icon10"></i>
                  <div class="text">
                    <h4>东南亚批发商</h4>
                    <p>专注专线业务</p>
                  </div>
                </div>
                <div class="bd">
                  <p>同行客户实时在线自助查位、留位</p>
                  <p>在线查看行程、下载行程</p>
                  <p>留位到期自动清，不用计调手工登记清理</p>
                  <p>名单导出多种格式模板，省时省力</p>
                  <p>一团可设置多城市联运出发，满足多地客户报名"</p>
                </div>
                <a class="more" href="">产品咨询</a>
              </div>
            </div>
          </div>
          <div class="posts clearfix wow slideInUp">
            <div class="post">
              <div class="top"></div>
              <div class="box">
                <div class="hd clearfix">
                  <i class="icon icon11"></i>
                  <div class="text">
                    <h4>欧美线批发商</h4>
                    <p>专注欧美旅游线路</p>
                  </div>
                </div>
                <div class="bd">
                  <p>电子合同一键生成，省纸省事</p>
                  <p>合同在线签署，准确规范</p>
                  <p>一套机位共享多种行程玩法</p>
                  <p>游客的签证下达，跟踪办理进度</p>
                  <p>给同行设置返佣，并能在线完成审批和付款流程</p>
                </div>
                <a class="more" href="">产品咨询</a>
              </div>
            </div>
            <div class="post">
              <div class="top"></div>
              <div class="box">
                <div class="hd clearfix">
                  <i class="icon icon12"></i>
                  <div class="text">
                    <h4>国内专线批发商</h4>
                    <p>专注国内旅游线路</p>
                  </div>
                </div>
                <div class="bd">
                  <p>查询、下单、付款全部前台网站，前端操作，后台直接确认</p>
                  <p>一套机位共享多个团，库存实时同步更新</p>
                  <p>证件识别一键生成身份证信息</p>
                  <p>在线收款功能，提升回款速度，降低销售财务的入账工作</p>
                  <p>导游手机端在线报账，再也不用担心垫付款漏报</p>
                </div>
                <a class="more" href="">产品咨询</a>
              </div>
            </div>
          </div>
          <div class="posts clearfix wow slideInUp">
            <div class="post">
              <div class="top"></div>
              <div class="box">
                <div class="hd clearfix">
                  <i class="icon icon13"></i>
                  <div class="text">
                    <h4>台湾专线批发商</h4>
                    <p>专注台湾旅游线路</p>
                  </div>
                </div>
                <div class="bd">
                  <p>台湾通行证图像识别，免去录入烦恼</p>
                  <p>多地联运，行程尽在掌握</p>
                  <p>导游领队排期一目了然，轻松管理</p>
                </div>
                <a class="more" href="">产品咨询</a>
              </div>
            </div>
            <div class="post">
              <div class="image">
                <img src="/public/images/version_type/customize.png" alt="">
                <a class="btn" href="">定制请联系客服</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include './footer.html' %>

  <script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="../public/js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
</body>
</html>
