.erp-school .tp-banner-container {
  position: relative;
  height: 490px;
  overflow: hidden;
}
.erp-school .tp-banner-container .tp-banner {
  height: 100% !important;
  overflow: hidden;
}
.erp-school .tp-banner-container .tp-banner > ul > li {
  height: 490px !important;
}
.erp-school .tp-banner-container .tp-banner .overaly {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.68);
}
.erp-school .tp-banner-container .recent-box {
  color: #fff;
}
.erp-school .tp-banner-container .recent-box .title {
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: normal;
}
.erp-school .tp-banner-container .recent-box .sub-title {
  margin-bottom: 45px;
  font-size: 20px;
}
.erp-school .tp-banner-container .recent-box .more {
  display: block;
  position: relative;
  width: 180px;
  height: 42px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.erp-school .tp-banner-container .recent-box .more:hover {
  border-color: #fff;
}
.erp-school .tp-banner-container .ad-box {
  position: relative;
}
.erp-school .tp-banner-container .ad-box .box {
  display: inline-block;
  position: absolute;
  z-index: 100;
  top: 80px;
  right: 0;
  min-width: 285px;
  height: 330px;
  padding: 22px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
}
.erp-school .tp-banner-container .ad-box .box .title {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}
.erp-school .tp-banner-container .ad-box .box img {
  margin: 15px 0;
}
.erp-school .tp-banner-container .ad-box .box span {
  font-weight: bold;
}
.erp-school .tp-banner-container .ad-box .box .number {
  font-size: 14px;
  font-weight: bold;
}
.erp-school .tp-banner-container .tp-bullets.round .bullet {
  background: none;
  width: 20px;
  height: 3px;
  margin-left: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}
.erp-school .tp-banner-container .tp-bullets.round .bullet.selected {
  background-color: #ffffff;
}
.erp-school .number-info {
  padding: 70px 0;
  font-size: 14px;
  color: #999;
}
.erp-school .number-info .content {
  width: 520px;
}
.erp-school .number-info .content .number {
  height: 50px;
  line-height: 50px;
  margin-right: 6px;
  font-family: Helve;
  font-size: 62px;
  color: #2770f6;
}
.erp-school .number-info .content .text {
  height: 24px;
  line-height: 24px;
  font-size: 26px;
  color: #2770f6;
}
.erp-school .number-info .content .desc {
  margin-top: 15px;
  font-size: 16px;
  color: #666;
}
.erp-school .module {
  padding: 50px 0;
}
.erp-school .module-sub-title {
  margin-top: 3px;
  font-size: 14px;
  color: #888;
  text-align: center;
}
.erp-school .school-info {
  background: #f7f7f7;
}
.erp-school .school-info .items {
  padding-top: 60px;
}
.erp-school .school-info .items .item {
  position: relative;
  float: left;
  width: 400px;
  text-align: center;
  box-sizing: border-box;
}
.erp-school .school-info .items .item .normal {
  height: 320px;
}
.erp-school .school-info .items .item .normal .hd {
  height: 155px;
  padding-top: 40px;
  font-family: Helve;
  font-size: 56px;
  color: #999;
  box-sizing: border-box;
}
.erp-school .school-info .items .item .normal .bd {
  position: relative;
  margin-bottom: 35px;
  border-bottom: 1px solid #cdcdcd;
}
.erp-school .school-info .items .item .normal .bd:before {
  width: 14px;
  height: 14px;
  top: -7px;
  left: 50%;
  margin-left: -7px;
  border-radius: 7px;
  border: 1px solid #cdcdcd;
  background: #f7f7f7;
  outline: 6px solid #f7f7f7;
  display: block;
  position: absolute;
  content: "";
}
.erp-school .school-info .items .item .normal .bd:after {
  width: 6px;
  height: 6px;
  top: -2px;
  left: 50%;
  z-index: 1;
  margin-left: -2px;
  border-radius: 3px;
  background: #999;
  display: block;
  position: absolute;
  content: "";
}
.erp-school .school-info .items .item .normal .ft h6 {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: normal;
  color: #333;
}
.erp-school .school-info .items .item .normal .ft p {
  font-size: 14px;
  color: #888;
}
.erp-school .school-info .items .item:nth-child(2) .hd {
  height: auto;
  padding-top: 0;
}
.erp-school .school-info .items .item:nth-child(2) .bd {
  margin-bottom: none;
}
.erp-school .school-info .items .item:nth-child(2) .ft {
  padding: 36px 0 35px;
}
.erp-school .school-info .items .item .active {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 400px;
  height: 320px;
  background: #fff;
  border: 1px solid #2770f6;
  box-sizing: border-box;
}
.erp-school .school-info .items .item .active .hd {
  padding-top: 39px;
  font-family: Helve;
  font-size: 56px;
  color: #666;
}
.erp-school .school-info .items .item .active .bd {
  width: 20px;
  height: 1px;
  margin: 30px auto 36px;
  background: #bbb;
}
.erp-school .school-info .items .item .active .ft h6 {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: normal;
  color: #2770f6;
}
.erp-school .school-info .items .item .active .ft p {
  font-size: 14px;
  color: #333;
}
.erp-school .school-info .items .item .two .ft {
  padding: 35px 0 10px;
}
.erp-school .school-info .items .item .two .bd {
  margin: 27px auto 25px;
}
.erp-school .school-info .items .item .two .hd {
  padding-top: 8px;
}
.erp-school .school-info .items .item:hover .active {
  display: block;
}
.erp-school .three-course .items {
  padding-top: 30px;
}
.erp-school .three-course .items .item {
  padding: 40px 0;
  height: 270px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.erp-school .three-course .items .item .img {
  position: relative;
  width: 480px;
}
.erp-school .three-course .items .item .img img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.erp-school .three-course .items .item .info {
  width: 720px;
  height: 270px;
  padding: 12px 0;
  box-sizing: border-box;
}
.erp-school .three-course .items .item .info .hd {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: normal;
}
.erp-school .three-course .items .item .info .bd {
  height: 90px;
  line-height: 30px;
  margin-bottom: 65px;
  font-size: 15px;
  color: #888;
}
.erp-school .three-course .items .item .info .ft a {
  display: inline-block;
  width: 100px;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  color: #888;
  border: 1px solid #bbb;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.erp-school .three-course .items .item .info .ft a:hover {
  color: #fff;
  background: #2770f6;
  border-color: #2770f6;
}
.erp-school .three-course .items .item .info .ft .two {
  color: #2770f6;
  border-color: #2770f6;
}
.erp-school .three-course .items .item:hover {
  box-shadow: 5px 10px 24px 2px rgba(39, 122, 246, 0.07);
}
