.rotate-more {
  display: inline-block;
  position: relative;
  line-height: 32px;
  padding: 0px 25px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s;
  box-sizing: border-box;
}
.rotate-more .lines {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.rotate-more .lines:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  content: "";
  background-color: #bbb;
  transition: transform 300ms;
}
.rotate-more .lines:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  content: "";
  background-color: #bbb;
  transition: transform 300ms;
}
.rotate-more:before {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #bbb;
  transition: transform 300ms;
}
.rotate-more:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #bbb;
  transition: transform 300ms;
}
.rotate-more:hover:before {
  transform: translateX(-100%);
}
.rotate-more:hover:after {
  transform: translateX(100%);
}
.rotate-more:hover .lines:before {
  transform: translateY(-100%);
}
.rotate-more:hover .lines:after {
  transform: translateY(100%);
}
.inner {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
.main-content {
  padding-top: 68px;
}
/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 68px;
  line-height: 68px;
  background-color: #fff;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.15);
}
.header .logo {
  float: left;
  width: 185px;
  height: 30px;
}
.header .logo img {
  width: 100%;
}
.header .navs {
  float: right;
}
.header .navs .login {
  float: right;
  position: relative;
}
.header .navs .login:before {
  top: 28px;
  right: 45px;
  width: 1px;
  height: 13px;
  background-color: #bbb;
  display: block;
  position: absolute;
  content: "";
}
.header .navs .login a {
  display: inline-block;
  margin-left: 30px;
  font-size: 14px;
  color: #666;
  transition: color 0.2s;
}
.header .navs .login a:hover {
  color: #2770f6;
}
.header .navs .menus {
  float: right;
}
.header .navs .menus .item {
  position: relative;
  float: left;
  margin: 0 28px;
}
.header .navs .menus .item .item-a {
  display: block;
  position: relative;
  width: 100%;
  font-size: 16px;
  color: #444;
}
.header .navs .menus .item .item-a:after {
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  margin-left: 0;
  background: #2770f6;
  transition: all 0.3s;
  display: block;
  position: absolute;
  content: "";
}
.header .navs .menus .item .item-a:hover {
  color: #2770f6;
}
.header .navs .menus .item .sub-box {
  display: none;
  position: absolute;
  top: 78px;
  left: 50%;
  width: 170px;
  padding: 6px 0;
  margin-left: -85px;
  border-top: 1px solid #e5e5e5;
  background: #fff;
  box-shadow: 0 2px 2px 0px #eee;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.header .navs .menus .item .sub-menu {
  width: 100%;
  text-align: center;
}
.header .navs .menus .item .sub-menu .sub-item {
  line-height: 30px;
}
.header .navs .menus .item .sub-menu .sub-item .sub-item-a {
  display: inline-block;
  line-height: 20px;
  box-sizing: border-box;
  transition: all 0.2s;
}
.header .navs .menus .item .sub-menu .sub-item .sub-item-a:hover {
  color: #2770f6;
}
.header .navs .menus .item .sub-menu .sub-item-a:hover {
  color: #2770f6;
}
.header .navs .menus .item:hover .item-a:after {
  width: 24px;
  margin-left: -12px;
}
.header .navs .menus .item:hover .sub-box {
  display: block;
  top: 68px;
}
.header .navs .menus .item:hover .sub-box .sub-item-a {
  color: #444;
}
.header .navs .menus .item:hover a {
  color: #2770f6;
}
.header .navs .menus .item.active .item-a {
  color: #2770f6;
}
.header .navs .menus .item.active .item-a:after {
  width: 24px;
  margin-left: -12px;
}
/* Footer */
.footer {
  position: relative;
  padding: 55px 0 20px;
  font-size: 14px;
  color: #aaaeb5;
  background: #2c343c;
}
.footer .logo-foot {
  margin-bottom: 20px;
}
.footer .part-one {
  width: 320px;
  margin-right: 140px;
}
.footer .part-one p {
  padding-left: 30px;
  margin-bottom: 15px;
  background: url('../images/icon_foot.png') no-repeat;
}
.footer .part-one .p2 {
  background-position: 0 -37px;
}
.footer .part-one .p3 {
  background-position: 0 -71px;
}
.footer .part-two {
  margin-right: 110px;
}
.footer .part-two .items .item {
  margin-bottom: 12px;
}
.footer .part-two .items .item a {
  font-size: 12px;
  color: #aaaeb5;
}
.footer .title {
  height: 16px;
  line-height: 16px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}
.footer .foot-right h3 {
  padding-left: 22px;
}
.footer .foot-right .codes {
  font-size: 12px;
  text-align: center;
}
.footer .foot-right .codes .code {
  margin-left: 22px;
}
.footer .foot-right .codes .code p {
  margin-top: 5px;
}
.footer .foot-bottom {
  font-size: 12px;
  padding: 20px 0 20px;
  margin-top: 40px;
  border-top: 1px solid #49545f;
  text-align: center;
}
/* banner-normal */
.banner-normal {
  position: relative;
  height: 350px;
  overflow: hidden;
}
.banner-normal .overaly {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.68);
}
.banner-normal .box {
  position: absolute;
  top: 78px;
  left: 0;
  z-index: 2;
  width: 100%;
  text-align: center;
  color: #fff;
}
.banner-normal .box .title {
  height: 50px;
  line-height: 50px;
  margin-bottom: 12px;
  font-size: 50px;
  font-weight: normal;
}
.banner-normal .box .sub-title {
  margin-bottom: 40px;
  font-size: 20px;
}
.banner-normal .box .more {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 42px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border: 1px solid rgba(133, 127, 125, 0.4);
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.banner-normal .box .more:hover {
  border-color: #fff;
}
/* banner-school */
.banner-school {
  position: relative;
  height: 450px;
  overflow: hidden;
}
.banner-school .img-banner {
  position: absolute;
  top: 0;
  left: 0;
}
.banner-school .box-content {
  position: relative;
}
.banner-school .box-content .box {
  top: 112px;
}
.banner-school .box-content .box .title {
  width: auto;
  height: auto;
  font-size: 40px;
  margin-top: 30px;
  text-align: left;
}
.banner-school .box-content .box .sub-title {
  color: #deedfa;
  text-align: left;
}
.banner-school .box-content .box .more {
  float: left;
  border-color: #fff;
}
/* module */
.module-title {
  font-size: 34px;
  font-weight: normal;
  color: #333;
  text-align: center;
}
