/* case-list */
.main-content {
  padding-top: 68px;
}
/* banner */
.case-banner {
  position: relative;
  height: 492px;
  overflow: hidden;
}
.case-banner .tp-banner {
  height: 100% !important;
  overflow: hidden;
}
.case-banner .tp-bannerulli {
  height: 492px !important;
}
.case-banner .tp-banner .overaly {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.case-banner .tp-banner .box {
  width: 640px;
  height: 230px;
  padding: 25px 30px;
  color: #fff;
  background: #1b1e22;
  border: 2px solid #2770f6;
  box-sizing: border-box;
}
.case-banner .tp-banner .box .box-content {
  position: relative;
  height: 100%;
}
.case-banner .tp-banner .box .hd {
  position: relative;
  height: 12px;
  line-height: 12px;
  margin-bottom: 25px;
  padding-left: 15px;
  color: #d3d3d4;
}
.case-banner .tp-banner .box .hd:before {
  display: block;
  position: absolute;
  left: 0;
  top: 6px;
  content: "";
  width: 9px;
  height: 2px;
  background: #2770f6;
}
.case-banner .tp-banner .box .hd .type {
  position: relative;
  margin-right: 26px;
}
.case-banner .tp-banner .box .hd .type:after {
  position: absolute;
  display: block;
  top: 3px;
  right: -16px;
  content: "";
  width: 1px;
  height: 11px;
  background-color: #d3d3d4;
}
.case-banner .tp-banner .box .hd .type:after .bd {
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  font-size: 30px;
}
.case-banner .tp-banner .box .bd {
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  font-size: 30px;
}
.case-banner .tp-banner .box .ft {
  font-size: 14px;
  line-height: 20px;
  white-space: normal;
}
.case-banner .tp-banner .box .more-content {
  position: absolute;
  bottom: 0;
  right: 0;
}
.case-banner .tp-banner .box .more-content .more {
  position: relative;
  float: right;
  width: 112px;
  height: 26px;
  line-height: 24px;
  padding: 0 19px;
  color: #fff;
  border: 1px solid #76787a;
  box-sizing: border-box;
  overflow: hidden;
  transition: all .5s;
}
.case-banner .tp-banner .box .more-content .more:before {
  position: absolute;
  left: -100%;
  display: block;
  content: "→";
  transition: all .6s;
}
.case-banner .tp-banner .box .more-content .more:hover {
  border-color: #fff;
}
.case-banner .tp-banner .box .more-content .more:hover span {
  transform: translateX(300%);
  transition: all .5s;
}
.case-banner .tp-banner .box .more-content .more:hover:before {
  left: 48%;
  transition: all .6s;
}
.case-banner .tp-banner .box .more-content .more span {
  display: inline-block;
  transition: all .5s;
}
.case-banner .tp-bullets.round .bullet {
  background: none;
  width: 20px;
  height: 3px;
  margin-left: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}
.case-banner .tp-bullets.round .bullet.selected {
  background-color: #ffffff;
}
/* Tabs */
.tp-tab-container {
  padding: 50px 0;
  background: #f7f7f7;
}
.tp-tab-container .tab-cases .types {
  border-bottom: none;
}
.tp-tab-container .tab-cases .types .item {
  float: left;
  width: 300px;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  color: #666;
  text-align: center;
  border-top: 2px solid #ededed;
  background: #ededed;
  box-sizing: border-box;
  cursor: pointer;
}
.tp-tab-container .tab-cases .types .item.on {
  color: #333;
  background: #fff;
  border-top: 2px solid #2770f6;
}
.tp-tab-container .tab-cases .tempWrap {
  padding: 20px 0;
  background-color: #fff;
}
.tp-tab-container .tab-cases .bd .subHd ul li {
  float: left;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  margin: 10px 45px;
  cursor: pointer;
}
.tp-tab-container .tab-cases .bd .subHd ul li.on {
  color: #2770f6;
}
.tp-tab-container .list-case {
  padding-top: 35px;
}
.tp-tab-container .list-case ul {
  margin: 0 -13px;
}
.tp-tab-container .list-case ul li {
  float: left;
  width: 400px;
  padding: 13px;
  box-sizing: border-box;
}
.tp-tab-container .list-case ul li .col {
  height: 380px;
  background: #fff;
  transition: all .3s;
}
.tp-tab-container .list-case ul li .col .img {
  position: relative;
  height: 200px;
  overflow: hidden;
}
.tp-tab-container .list-case ul li .col .img img {
  position: absolute;
  width: 200%;
  min-height: 100%;
  top: 0;
  left: -50%;
}
.tp-tab-container .list-case ul li .col .hd {
  padding: 0 25px;
  margin: 16px 0;
  font-size: 13px;
  color: #888;
}
.tp-tab-container .list-case ul li .col .hd .tag {
  position: relative;
  margin-right: 20px;
}
.tp-tab-container .list-case ul li .col .hd .tag:after {
  position: absolute;
  top: 3px;
  right: -12px;
  content: "";
  width: 1px;
  height: 12px;
  background: #999;
}
.tp-tab-container .list-case ul li .col .bd {
  height: 86px;
  padding: 0 25px;
}
.tp-tab-container .list-case ul li .col .bd .title {
  margin-bottom: 8px;
  font-size: 18px;
  color: #333;
}
.tp-tab-container .list-case ul li .col .bd .info {
  height: 36px;
  line-height: 18px;
  font-size: 13px;
  color: #888;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tp-tab-container .list-case ul li .col .ft {
  padding: 0 25px;
  line-height: 42px;
  border-top: 1px solid #f5f5f5;
}
.tp-tab-container .list-case ul li .col:hover {
  margin-bottom: 10px;
  box-shadow: 0 7px 18px 0px rgba(39, 122, 246, 0.1);
}
