.tp-banner-container {
  position: relative;
  height: 490px;
  overflow: hidden;
}
.tp-banner-container .tp-banner {
  height: 100% !important;
  overflow: hidden;
}
.tp-banner-container .tp-banner > ul > li {
  height: 490px !important;
}
.tp-banner-container .tp-banner .overaly {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.68);
}
.tp-banner-container .recent-box {
  color: #fff;
}
.tp-banner-container .recent-box .title {
  width: 900px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tp-banner-container .recent-box .sub-title {
  width: 900px;
  margin-bottom: 40px;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tp-banner-container .recent-box .more {
  display: block;
  position: relative;
  width: 180px;
  height: 42px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border: 2px solid rgba(133, 127, 125, 0.4);
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.tp-banner-container .recent-box .more:hover {
  border-color: #fff;
}
.tp-banner-container .ad-box {
  position: relative;
}
.tp-banner-container .ad-box .box {
  display: inline-block;
  position: absolute;
  z-index: 100;
  top: 105px;
  right: 0;
  min-width: 240px;
  height: 280px;
  padding: 30px;
  color: #333;
  box-sizing: border-box;
  background: #fff;
}
.tp-banner-container .ad-box .box .one {
  margin-bottom: 2px;
  font-size: 16px;
}
.tp-banner-container .ad-box .box .two {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}
.tp-banner-container .ad-box .box .three {
  position: relative;
}
.tp-banner-container .ad-box .box .three h3 {
  display: inline-block;
  font-size: 34px;
}
.tp-banner-container .ad-box .box .three span {
  font-size: 16px;
  color: #666;
}
.tp-banner-container .ad-box .box .three:before {
  top: -8px;
  left: 0;
  width: 24px;
  height: 1px;
  background: #bbb;
  display: block;
  position: absolute;
  content: "";
}
.tp-banner-container .ad-box .box .four {
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
}
.tp-banner-container .ad-box .box .five {
  display: block;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: #2770f6;
}
.tp-banner-container .tp-bullets.round .bullet {
  background: none;
  width: 20px;
  height: 3px;
  margin-left: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}
.tp-banner-container .tp-bullets.round .bullet.selected {
  background-color: #ffffff;
}
.recent-list .module {
  padding: 50px 0;
}
.recent-list .module .module-title {
  margin-bottom: 50px;
  font-size: 34px;
  font-weight: normal;
  text-align: center;
}
.recent-list .module.cpy-news .list .item {
  margin-bottom: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.recent-list .module.cpy-news .list .item .img {
  position: relative;
  float: left;
  width: 285px;
  height: 190px;
  overflow: hidden;
}
.recent-list .module.cpy-news .list .item .img img {
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  min-height: 100%;
}
.recent-list .module.cpy-news .list .item .info {
  float: right;
  width: 915px;
  padding: 26px 50px;
  box-sizing: border-box;
}
.recent-list .module.cpy-news .list .item .info h3 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: normal;
  transition: color 0.3s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.recent-list .module.cpy-news .list .item .info .tags {
  font-family: Helve;
  font-size: 14px;
  color: #bbb;
  transition: color 0.3s;
}
.recent-list .module.cpy-news .list .item .info .tags .time {
  position: relative;
  padding-right: 40px;
}
.recent-list .module.cpy-news .list .item .info .tags .time:after {
  top: 2px;
  right: 18px;
  width: 1px;
  height: 13px;
  background: #c5c5c5;
  display: block;
  position: absolute;
  content: "";
}
.recent-list .module.cpy-news .list .item .info .summary {
  width: 785px;
  line-height: 24px;
  padding-top: 16px;
  margin-top: 18px;
  font-size: 14px;
  color: #888;
  border-top: 1px solid #f0f0f0;
  transition: color 0.3s;
}
.recent-list .module.cpy-news .list .item:hover {
  box-shadow: 5px 10px 24px 2px rgba(39, 122, 246, 0.07), 5px -6px 16px 0px rgba(39, 122, 246, 0.05);
}
.recent-list .module.cpy-news .list .item:hover h3 a {
  color: #2770f6;
}
.recent-list .module.cpy-news .list .item:hover .tags {
  color: #999;
}
.recent-list .module.cpy-news .list .item:hover .summary {
  color: #666;
}
.recent-list .module.cpy-news .more {
  display: block;
  width: 120px;
  height: 32px;
  line-height: 32px;
  margin: 60px auto 0;
  text-align: center;
  color: #fff;
  background: #2770f6;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.recent-list .module.cpy-news .more:hover {
  box-shadow: 1px 3px 20px 4px rgba(39, 112, 246, 0.2);
}
.recent-list .module.same-view {
  background: #fafafa;
}
.recent-list .module.same-view .view-box .body {
  margin: 0 -10px;
}
.recent-list .module.same-view .view-box .body ul {
  padding-top: 10px !important;
}
.recent-list .module.same-view .view-box .body ul li {
  float: left;
  width: 300px !important;
  padding: 0 10px;
  box-sizing: border-box;
}
.recent-list .module.same-view .view-box .body ul li .col {
  position: relative;
  background: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.recent-list .module.same-view .view-box .body ul li .col .hd {
  position: relative;
  height: 265px;
  overflow: hidden;
}
.recent-list .module.same-view .view-box .body ul li .col .hd img {
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  min-height: 265px;
}
.recent-list .module.same-view .view-box .body ul li .col .bd {
  padding: 20px;
}
.recent-list .module.same-view .view-box .body ul li .col .bd .name {
  font-size: 18px;
  color: #333;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.recent-list .module.same-view .view-box .body ul li .col .bd .cpy {
  color: #999;
}
.recent-list .module.same-view .view-box .body ul li .col .ft {
  margin: 0 20px;
  padding: 15px 0 25px;
  font-size: 14px;
  color: #666;
  border-top: 1px solid #ebebeb;
}
.recent-list .module.same-view .view-box .body ul li .col:after {
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #2770f6;
  display: block;
  position: absolute;
  content: "";
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.recent-list .module.same-view .view-box .body ul li .col:hover {
  box-shadow: 0px 4px 24px 1px rgba(39, 122, 246, 0.08);
  transform: translateY(-10px);
}
.recent-list .module.same-view .view-box .body ul li .col:hover .name {
  color: #2770f6;
}
.recent-list .module.same-view .view-box .body ul li .col:hover:after {
  width: 100%;
}
.recent-list .module.same-view .view-box .head {
  width: 120px;
  height: 30px;
  margin: 48px auto 0;
  border: 1px solid #ccc;
  overflow: hidden;
}
.recent-list .module.same-view .view-box .head .prev {
  float: left;
  width: 60px;
  height: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background: url('../images/arrow_left2.png') center no-repeat;
}
.recent-list .module.same-view .view-box .head .next {
  float: right;
  width: 60px;
  height: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background: url('../images/arrow_right2.png') center no-repeat;
}
.recent-list .module.same-view .view-box .head .prevStop {
  cursor: not-allowed;
  background: url('../images/arrow_left.png') center no-repeat;
}
.recent-list .module.same-view .view-box .head .nextStop {
  cursor: not-allowed;
  background: url('../images/arrow_right.png') center no-repeat;
}
.recent-list .module.product-news .list .item {
  float: left;
  width: 580px;
  height: 135px;
  margin: 0 40px 40px 0;
  box-sizing: border-box;
}
.recent-list .module.product-news .list .item .img {
  float: left;
  position: relative;
  width: 200px;
  height: 135px;
  overflow: hidden;
}
.recent-list .module.product-news .list .item .img img {
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  min-height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.recent-list .module.product-news .list .item .img .overaly {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.recent-list .module.product-news .list .item .img .overaly .date {
  height: 16px;
  line-height: 16px;
  font-size: 16px;
}
.recent-list .module.product-news .list .item .img .overaly .year {
  color: #c3cecc;
}
.recent-list .module.product-news .list .item .info {
  float: right;
  width: 380px;
  height: 135px;
  padding: 26px 20px;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  border-left: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.recent-list .module.product-news .list .item .info .title {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: normal;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.recent-list .module.product-news .list .item .info .summary {
  height: 40px;
  line-height: 20px;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.recent-list .module.product-news .list .item:nth-child(even) {
  margin-right: 0;
}
.recent-list .module.product-news .list .item:hover {
  box-shadow: 5px 10px 24px 2px rgba(39, 122, 246, 0.07), 5px -6px 16px 0px rgba(39, 122, 246, 0.05);
}
.recent-list .module.product-news .list .item:hover .overaly {
  top: 0;
}
.recent-list .module.product-news .list .item:hover .title {
  color: #2770f6;
}
.recent-list .module.product-news .list .item:hover .info {
  border-color: #fff;
}
.recent-list .module.product-news .list .item:hover .summary {
  color: #666;
}
.recent-list .module.product-news .more {
  display: block;
  width: 120px;
  line-height: 32px;
  margin: 10px auto 0;
  color: #666;
  border: 1px solid #ccc;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.recent-list .module.product-news .more:hover {
  color: #fff;
  background: #2770f6;
  border-color: #2770f6;
}
