@import "vars.less";

.erp-school {
  .tp-banner-container {
    position: relative;
    height: 490px;
    overflow: hidden;
    .tp-banner {
      height: 100% !important;
      overflow: hidden;
      &>ul {
        &>li {
          height: 490px !important;
        }
      }
      .overaly {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.68);
      }
    }
    .recent-box {
      color: #fff;
      .title {
        height: 50px;
        line-height: 50px;
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: normal;
      }
      .sub-title {
        margin-bottom: 45px;
        font-size: 20px;
      }
      .more {
        display: block;
        position: relative;
        width: 180px;
        height: 42px;
        line-height: 40px;
        font-size: 18px;
        color: #fff;
        text-align: center;
        border: 2px solid rgba(255,255,255,.4);
        box-sizing: border-box;
        overflow: hidden;
        .transition(@all: all .3s);
        &:hover {
          border-color: #fff;
        }
      }
    }
    .ad-box {
      position: relative;
      .box {
        display: inline-block;
        position: absolute;
        z-index: 100;
        top: 80px;
        right: 0;
        min-width: 285px;
        height: 330px;
        padding: 22px;
        color: rgba(255,255,255,.6);
        text-align: center;
        box-sizing: border-box;
        background: rgba(0,0,0,.3);
        .title {
          font-size: 16px;
          font-weight: normal;
          color: @white;
        }
        img {
          margin: 15px 0;
        }
        span {
          font-weight: bold;
        }
        .number {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    .tp-bullets {
      &.round {
        .bullet{
          background: none;
          width: 20px;
          height: 3px;
          margin-left: 8px;
          background-color: rgba(255,255,255,.3);
          &.selected {
            background-color: rgba(255,255,255,1);
          }
        }
      }
    }
  }
  .number-info{
    padding: 70px 0;
    font-size: 14px;
    color: @lightGray;
    .content {
      width: 520px;
      .number {
        height: 50px;
        line-height: 50px;
        margin-right: 6px;
        font-family: Helve;
        font-size: 62px;
        color: @blue;
      }
      .text {
        height: 24px;
        line-height: 24px;
        font-size: 26px;
        color: @blue;
      }
      .desc {
        margin-top: 15px;
        font-size: 16px;
        color: @middleGray;
      }
    }
  }
}
