@import "vars.less";

.page-erp {
  .module {
    padding: 80px 0;
  }
  .top-content {
    position: relative;
    height: 1330px;
    background: #f7f7f7 url('../images/erp_icon/erp_main_bg.png') center 0 no-repeat;
    .text {
      position: absolute;
      top: 120px;
      left: 0;
      z-index: 10;
      width: 100%;
      color: @white;
      text-align: center;
      .title {
        padding-bottom: 15px;
        font-size: 46px;
        font-weight: normal;
      }
      .sub-title {
        margin-bottom: 40px;
        font-size: 18px;
      }
      .more {
        display: inline-block;
        position: relative;
        width: 180px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        color: @white;
        text-align: center;
        border: 2px solid rgba(255,255,255,.4);
        .transition();
        span {
          display: inline-block;
          .transition();
        }
        &:before {
          position: absolute;
          left: 85px;
          display: block;
          content: "→";
          font-size: 12px;
          opacity: 0;
          .transition();
        }
        &:hover {
          border-color: @white;
          span {
            transform: translateX(-15px);
            .transition();
          }
          &:before {
            opacity: 1;
            left: 120px;
          }
        }
      }
    }
    .video {
      position: absolute;
      top: 420px;
      left: 50%;
      z-index: 10;
      width: 1200px;
      height: 570px;
      margin-left: -600px;
      color: #fff;
      opacity: 1;
      background: #174394;
      h2{
        font-size: 34px;
        line-height: 50px;
        font-weight: 500;
        text-align: center;
      }
      p{
        margin-top:10px;
        text-align: center;
        font-size: 18px;
      }
      &.video-layer{
        .transition(1.2s);
        cursor: pointer;
      }
      &.video-active{
        height: 0;
        opacity: 0;
        background: #69a7ea;
      }

    }
    .player-btn{
      width:60px;
      height:60px;
      background: url('/public/images/player.png') no-repeat;
      background-size:contain;
      display: block;
      margin: 180px auto 40px;;
    }
    .wave {
      position: absolute;
      top: -120px;
      left: 0;
      width: 100%;
      height: 800px;
      overflow: hidden;
      canvas {
        position: absolute;
        left: -30%;
        min-width: 3000px;
        pointer-events: none;
      }
    }
  }
  .part-one {
    position: relative;
    padding-bottom: 50px;
    .version-types {
      position: relative;
      width: 100%;
      margin-top: -308px;
      text-align: center;
      .module-title {
        font-size: 34px;
        font-weight: normal;
        color: @deepGray;
      }
      .sub-module-title {
        padding: 8px 0 40px;
        font-size: 16px;
        color: #888;
      }
      .hd {
        ul {
          li {
            position: relative;
            float: left;
            width: 240px;
            text-align: center;
            cursor: pointer;
            p {
              padding: 12px 0 15px;
              font-size: 16px;
              color: #444;
              .transition();
            }
            .icon {
              display: inline-block;
              width: 60px;
              height: 50px;
              background-position: center bottom;
              background-repeat: no-repeat;
              .transition();
            }
            .icon1 {
              background-image: url(../images/erp_icon/icon_type1.png);
            }
            .icon2 {
              background-image: url(../images/erp_icon/icon_type2.png);
            }
            .icon3 {
              background-image: url(../images/erp_icon/icon_type3.png);
            }
            .icon4 {
              background-image: url(../images/erp_icon/icon_type4.png);
            }
            .icon5 {
              background-image: url(../images/erp_icon/icon_type5.png);
            }
            &:after {
              .content();
              left: 50%;
              bottom: -2px;
              width: 0;
              height: 2px;
              background: @blue;
              .transition();
            }
            &:hover {
              p {
                color: @blue;
              }
              .icon1 {
                background-image: url(../images/erp_icon/icon_type1_1.png);
              }
              .icon2 {
                background-image: url(../images/erp_icon/icon_type2_1.png);
              }
              .icon3 {
                background-image: url(../images/erp_icon/icon_type3_1.png);
              }
              .icon4 {
                background-image: url(../images/erp_icon/icon_type4_1.png);
              }
              .icon5 {
                background-image: url(../images/erp_icon/icon_type5_1.png);
              }
            }
            &.on {
              .icon1 {
                background-image: url(../images/erp_icon/icon_type1_1.png);
              }
              .icon2 {
                background-image: url(../images/erp_icon/icon_type2_1.png);
              }
              .icon3 {
                background-image: url(../images/erp_icon/icon_type3_1.png);
              }
              .icon4 {
                background-image: url(../images/erp_icon/icon_type4_1.png);
              }
              .icon5 {
                background-image: url(../images/erp_icon/icon_type5_1.png);
              }
              p {
                color: @blue;
              }
              &:after {
                width: 100%;
                left: 0;
              }
            }
          }
        }
      }
      .btns {
        padding-top: 10px;
        text-align: center;
        .btn {
          display: inline-block;
          width: 120px;
          height: 32px;
          line-height: 30px;
          margin: 0 15px;
          font-size: 14px;
          text-align: center;
          color: @middleGray;
          border: 1px solid #ccc;
          box-sizing: border-box;
          .transition();
          &:hover {
            &.btn1 {
              color: @white;
              background: @blue;
              border-color: @blue;
            }
            &.btn2 {
              color: @blue;
              border-color: @blue;
            }
          }
        }
      }
      .bd {
        padding-top: 55px;
        ul {
          li {
            .title {
              display: inline-block;
              position: relative;
              font-size: 18px;
              span {
                font-weight: bold;
              }
              &:before {
                display: block;
                position: absolute;
                content: ">>>";
                left: -52px;
                top: 0;
                color: @lightGray;
              }
              &:after {
                display: block;
                position: absolute;
                content: "<<<";
                right: -52px;
                top: 0;
                color: @lightGray;
              }
            }
            .items {
              padding-top: 100px;
              .item {
                float: left;
                width: 400px;
                padding: 0 64px;
                margin-bottom: 50px;
                font-size: 16px;
                text-align: left;
                cursor: default;
                box-sizing: border-box;
                .rectangle {
                  position: relative;
                  height: 20px;
                  padding-left: 15px;
                  font-family: Helve;
                  color: @lightGray;
                  &:before {
                    .content();
                    z-index: 1;
                    bottom: -18px;
                    left: -6px;
                    width: 1px;
                    height: 0;
                    background: @blue;
                    .transition(all .15s);
                  }
                  &:after {
                    .content();
                    z-index: 1;
                    top: -16px;
                    left: -5px;
                    width: 0;
                    height: 1px;
                    background: @blue;
                    .transition(all .15s);
                  }
                  span {
                    &:before {
                      .content();
                      z-index: 1;
                      top: -16px;
                      left: 52px;
                      width: 1px;
                      height: 0;
                      background: @blue;
                      .transition(all .15s);
                    }
                    &:after {
                      .content();
                      z-index: 1;
                      top: 37px;
                      right: 247px;
                      width: 0;
                      height: 1px;
                      background: @blue;
                      .transition(all .15s);
                    }
                  }
                }
                .line {
                  position: relative;
                  &:before {
                    .content();
                    top: -36px;
                    left: -6px;
                    width: 1px;
                    height: 54px;
                    background: #ccc;
                  }
                  &:after {
                    .content();
                    top: -36px;
                    left: -5px;
                    width: 58px;
                    height: 1px;
                    background: #ccc;
                  }
                  span {
                    &:before {
                      .content();
                      top: -36px;
                      left: 52px;
                      width: 1px;
                      height: 28px;
                      background: #ccc;
                    }
                    &:after {
                      .content();
                      top: 17px;
                      left: -5px;
                      width: 30px;
                      height: 1px;
                      background: #ccc;
                    }
                  }
                }
                .text {
                  position: relative;
                  height: 48px;
                  padding-left: 40px;
                  color: #444;
                  .transition();
                  &:before {
                    .content();
                    top: -8px;
                    left: 50px;
                    width: 3px;
                    height: 3px;
                    border: 1px solid #444;
                    .transition();
                  }
                  &:after {
                    .content();
                    top: 15px;
                    left: 25px;
                    width: 3px;
                    height: 3px;
                    border: 1px solid #444;
                    .transition();
                  }
                }
                &:hover {
                  .rectangle {
                    color: @blue;
                    &:before {
                      height: 54px;
                      transition-delay: .15s;
                    }
                    &:after {
                      width: 58px;
                      transition-delay: .3s;
                    }
                    span {
                      &:before {
                        height: 28px;
                        transition-delay: .45s;
                      }
                      &:after {
                        width: 30px;
                      }
                    }
                  }
                  .text {
                    color: @blue;
                    &:before {
                      border-color: @blue;
                    }
                    &:after {
                      border-color: @blue;
                    }
                  }
                }
              }
            }
            
          }
        }
      }
    }
  }
  .part-two {
    background: #f7f7f7;
    .module-sub-title {
      padding-top: 8px;
      font-size: 16px;
      color: #888;
      text-align: center;
    }
    .items {
      padding-top: 70px;
      .item {
        float: left;
        width: 300px;
        padding: 0 10px;
        text-align: center;
        box-sizing: border-box;
        .col {
          position: relative;
          height: 290px;
          padding-top: 40px;
          background: @white;
          overflow: hidden;
          .transition(all .5s);
          .icon {
            display: inline-block;
            width: 55px;
            height: 75px;
            background-position: center bottom;
            background-repeat: no-repeat;
          }
          .icon1 {
            background-image: url('../images/erp_icon/icon_module1.png');
          }
          .icon2 {
            background-image: url('../images/erp_icon/icon_module2.png');
          }
          .icon3 {
            background-image: url('../images/erp_icon/icon_module3.png');
          }
          .icon4 {
            background-image: url('../images/erp_icon/icon_module4.png');
          }
          h3 {
            margin: 25px 0 10px;
            font-size: 20px;
            font-weight: normal;
            color: @deepGray;
          }
          .info {
            height: 66px;
            position: absolute;
            top: 200px;
            left: 0;
            width: 100%;
            .transition(all .5s);
            p {
              line-height: 22px;
              font-size: 14px;
              color: @middleGray;
            }
          }
          .btn {
            position: absolute;
            left: 50%;
            bottom: -30px;
            width: 112px;
            height: 30px;
            line-height: 28px;
            margin-left: -56px;
            color: @white;
            background: @blue;
            box-sizing: border-box;
            border: 1px solid @blue;
            .transition(all .5s);
            &:hover {
              color: @blue;
              border-color: @blue;
              background: none;
            }
          }
          &:before {
            .content();
            width: 0;
            height: 1px;
            top: 0;
            left: 0;
            background: @blue;
            .transition(all .5s);
          }
          &:hover {
            transform: translateY(-10px);
            box-shadow: 0 5px 22px 2px rgba(23, 85, 243, 0.05);
            &:before {
              width: 100%;
            }
            .info {
              top: 180px;
            }
            .btn {
              bottom: 36px;
            }
          }
        }
      }
    }
    .more {
      display: block;
      width: 134px;
      margin: 50px auto 0;
    }
  }
  .part-three {
    height: 759px;
    padding: 70px 0;
    color: @white;
    box-sizing: border-box;
    background: url('../images/erp_icon/function_bg.png') no-repeat;
    .module-title {
      color: @white;
    }
    .module-sub-title {
      padding-top: 8px;
      font-size: 16px;
      color: rgba(255,255,255,.8);
      text-align: center;
    }
    .dot-box {
      padding-top: 100px;
      .hd {
        float: left;
        width: 195px;
        height: 290px;
        margin-right: 90px;
        text-align: center;
        border-right: 2px solid #45495d;
        ul {
          li {
            position: relative;
            line-height: 38px;
            margin-bottom: 25px;
            font-size: 16px;
            cursor: pointer;
            .transition();
            &:hover {
              background: #2e3249;
            }
            &.on {
              background: #2e3249;
              &:after {
                .content();
                top: 0;
                right: -3px;
                width: 4px;
                height: 100%;
                background: @blue;
              }
            }
          }
        }
      }
      .bd {
        ul {
          height: 290px;
          overflow: hidden;
          li {
            height: 290px;
            .head {
              height: 65px;
              padding-left: 88px;
              margin-bottom: 35px;
              background-repeat: no-repeat;
              background-position: 0 center;
              h2 {
                height: 26px;
                line-height: 26px;
                padding-top: 6px;
                margin-bottom: 8px;
                font-size: 24px;
              }
              p {
                height: 18px;
                line-height: 18px;
                font-size: 18px;
                color: rgba(255,255,255,.7);
              }
            }
            .icon1 {
              background-image: url('../images/erp_icon/icon_fun1.png');
              h2 {
                padding-top: 4px;
              }
            }
            .icon2 {
              background-image: url('../images/erp_icon/icon_fun2.png');
            }
            .icon3 {
              background-image: url('../images/erp_icon/icon_fun3.png');
              h2 {
                padding-top: 4px;
              }
            }
            .icon4 {
              background-image: url('../images/erp_icon/icon_fun4.png');
            }
            .icon5 {
              background-image: url('../images/erp_icon/icon_fun5.png');
            }
            .body {
              padding-top: 35px;
              font-size: 15px;
              border-top: 1px dashed rgba(188,190,198,.3);
              span {
                display: inline-block;
                position: relative;
                padding-left: 12px;
                margin: 0 40px 12px 0;
                word-break: keep-all;
                &:before {
                  display: block;
                  position: absolute;
                  top: -28px;
                  left: 0;
                  content: ".";
                  font-size: 36px;
                }
              }
            }
            .foot {
              padding-top: 25px;
              .more {
                display: inline-block;
                width: 156px;
                height: 32px;
                line-height: 32px;
                margin: 0;
                text-align: center;
                font-size: 14px;
                color: @white;
                background: @blue;
                border: 1px solid @blue;
                .transition();
                transform: translateZ(10px);
                &:hover {
                  opacity: .8;
                }
              }
            }
          }
        }
      }
    }
    .more {
      display: block;
      width: 140px;
      margin: 90px auto 0;
      color: #bbbdc3;
      &:hover {
        color: @white;
      }
    }
  }
  .step-h3{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
  }
  .step-head p{
    text-align: center;
    font-size: 14px;
  }
  .steps-box{
    width:100%;
    overflow: hidden;
    .step-item{
      width: 25%;
      float: left;
      opacity: 0;
      .transition();
        &.wow{
          opacity: 1;
        }
      // padding: 0 30px;
    }
    .step-item h4{
      font-size: 20px;
      font-weight: 500;
      margin-top:40px;
      margin-bottom:20px;
      text-align: center
    }
    .step-item p{
      font-size: 14px;
      text-align: center;
      color: #666;
      padding: 0 30px;
    }
  }
  
  .part-four {
    background: #f7f7f7;
    .module-sub-title {
      padding-top: 8px;
      font-size: 16px;
      color: #888;
      text-align: center;
    }
    .more{
      display: block;
      width: 134px;
      margin: 50px auto 0;
    }
  }
  .part-five{
    .more{
      display: block;
      width: 134px;
      margin: 50px auto 0;
    }
    .steps-sign-box{
      position: relative;
      margin-top:70px;
      display: table;
      width: 100%;
      .sign-item{
        width:25%;
        // display: table-cell;
        float: left;
        .step-sign-item{
          opacity: 0;
          .transition();
          &.wow{
            opacity: 1;
          }
          text-align: center;
        }
        .step-icon{
          width:87px;
          height: 87px;
          line-height: 87px;
          text-align: center;
          position: relative;
          margin: 0 auto;
          font-size: 26px;
          color:#2770f6;
          border:3px solid #e6e6e6;
          border-radius: 100%;
          -ms-border-raidus: 100%;

        }
      }
    }
  }
  .part-six{
    // .more{
    //   display: block;
    //   width: 134px;
    //   margin: 50px auto 0;
    // }
    background: #f7f7f7;
    .body-box{
      width:100%;
      overflow: hidden;
      margin-top: 55px;
      .body-item{
        width:378px;
        height:358px;
        border:1px solid #c7cad3;
        margin-right:28px;
        float: left;
        &:last-child{
          margin-right: 0;
        }
        h4{
          font-size: 20px;
          font-weight: 500;
          text-align: center;
          margin-bottom:20px;
        }
        p{
          color: #666;
          font-size: 14px;
          line-height: 26px;
          padding: 0 20px;
        }
      }
      .body-bg{
        display: block;
        height: 200px;
        &.bg-1{
          background: url('/public/images/part_six1.png') center no-repeat;
        }
        &.bg-2{
          background: url('/public/images/part_six2.png') center no-repeat;
        }
        &.bg-3{
          background: url('/public/images/part_six3.png') center no-repeat;
        }
        
      }
    }
  }
  .module-sub-title {
    padding-top: 8px;
    font-size: 16px;
    color: #888;
    text-align: center;
  }
  .feature-btn{
    padding:0 21px;
    margin-right:12px;
    margin-bottom:18px;
    .box-shadow(bottom);
  }
  .feature-btn-right{
    margin-right:32px;
    margin-bottom:14px;
    .box-shadow(right);
    width:180px;
    text-align: center;
  }
  .feature-btn-left{
    margin-left:32px;
    margin-bottom:14px;
    .box-shadow(left);
    width:180px;
    text-align: center;
  }
  .feature-btn-bottom {
    width:180px;
    margin-right: 18px;
    .box-shadow(top);
  }
  .block-head{
    text-align: center;
    .head-1{
      margin:0 auto;
      overflow: hidden;
      padding-bottom:19px;
      display: inline-block;
      .head-border-box{
        .dotted-border-box();
      }
      .head-border{
        .dotted-border(54px,65px,58px);
      }
    }
    .head-2{
      margin:0 auto;
      overflow: hidden;
      padding-bottom:8px;
      display: inline-block;
      .feature-btn{
        padding:0 20px;
      }
      .feature-btn:last-child{
        margin-right:0;
      }
      .head-border-box{
        .dotted-border-box();
        height: 0;
        &::before{
          height: 0;
        }
      }
      .head-border{
        .dotted-border(61px,52px,58px);
      }
    }
  }
  .block-body{
    .block-left{
      overflow: hidden;
      width:215px;
      float: left;
      margin-top:33px;
      position: relative;
      .feature-btn-right:last-child{
        margin-bottom: 0;
      }
      .item-border{
        position: absolute;
        right: 0px;
        top:20px;
        bottom: 20px;
        border-left:1px dotted #a6aab7;
      }
    }
    .block-center{
      width: 545px;
      position: relative;
      margin: 20px 112px 30px;
      float: left;
    }
    .block-right{
      overflow: hidden;
      width: 215px;
      float: right;
      margin-top:7px;
      position: relative;
      .feature-btn-left:last-child{
        margin-bottom: 0;
      }
      .item-border{
        position: absolute;
        left: 0px;
        top:20px;
        bottom: 20px;
        border-left:1px dotted #a6aab7;
      }
    }
    .feature-core{
      width: 545px;
      height: 363px;
      position: relative;
      background: url('/public/images/feature_center.png') no-repeat center;
      .feature-item{
        position: absolute;
        width:210px;
        height:132px;
        line-height: 132px;
        text-align: center;
        font-size: 17px;
        color:#214090;
        cursor:pointer;
        &.item-1{
          top:106px;
          left: 0;
        }
        &.item-2{
          top:0;
          left:168px;
        }
        &.item-3{
          top:106px;
          right:0;
        }
        &.item-4{
          bottom:18px;
          left:168px;
        }
      }
      .level-item {
        position: relative;
        width:50%;
        height: 363px;
        // display: inline-block;
        float: left; 
        &:hover &::before{
          animation-name: fadeInRight;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
        &::before{
          .content();
          top:169px;
          left:-112px;
          width:112px;
          height:0;
          border-top:1px dotted #a6aab7;
        }
        &::after{
          .content();
          top:-30px;
          right:0;
          width:0;
          height:30px;
          border-left:1px dotted #a6aab7;
        }
      }
      .vertical-item {
        position: relative;
        width:50%;
        height: 363px;
        // display: inline-block;
        float: left;
        &::before{
          .content();
          top:169px;
          right:-112px;
          width:112px;
          height:0;
          border-top:1px dotted #a6aab7;
        }
        &::after{
          .content();
          bottom:-30px;
          left:1px;
          width:0;
          height:30px;
          border-left:1px dotted #a6aab7;
        }
      }
    }
    .feature-block-item{
      position: relative;
      color:#2243d0;
      // float: left;
      display: inline-block;
      background: #fff;
      height:123px;
      // line-height:38px;
      // border:1px solid #9dacc8;
      box-shadow:0px 0px 20px #c6d9fd inset;
      font-size: 16px;
      width:123px;
      transform: rotate(-45deg);
      .feature-block-text{
        position: absolute;
        top:0;
        left: 0;
        line-height: 123px;
        width:100%;
        text-align: center;
        color:#2243d0;
      }
    }
  }
  .block-foot{
    text-align: center;
    padding-left: 1px;
    .head-1{
      margin:0 auto;
      padding-bottom:19px;
      display: inline-block;
      .head-border-box{
        position: relative;
        height:18px;
        // &::before{
        //   position: absolute;
        //   content: '';
        //   border-left:1px dotted #a6aab7;
        //   left: 50%;
        //   top:-18px;
        //   width: 0;
        //   height: 18px;
        // }
      }
      .head-border{
        .dotted-border(91px,91px,0);
      }
      .feature-btn-bottom:last-child{
        margin-right:0;
      }
    }
  }
  .module-box{
    position: relative;
    .items{
      // transition-duration: 1s;
      // transition-delay: .3s;
      // height: 0;
      // overflow: hidden;
      // opacity: 0;
      ul{
        overflow: hidden;
      }
    }
    // .btn-sign{
    //   opacity: 0;
    //   height:0;
    // }
    // .fangFadeIn{

    // }
    .btn-sign.animated {
      height: 40px;
      // transition-duration: 1s;
      // transition-delay: .3s;
    }
    // .btn-sign.animated:nth-of-type(1){
    //   opacity: 1;
    //   transition-duration: .3s;
    //   transition-delay: .6s;
    // }
    // .btn-sign.animated:nth-of-type(2){
    //   opacity: 1;
    //   transition-duration: .3s;
    //   transition-delay: .9s;
    // }
    // .btn-sign.animated:nth-of-type(3){
    //   opacity: 1;
    //   transition-duration: .3s;
    //   transition-delay: 1.2s;
    // }
    // .btn-sign.animated:nth-of-type(4){
    //   opacity: 1;
    //   transition-duration: .3s;
    //   transition-delay: 1.5s;
    // }
    // .btn-sign.animated:nth-of-type(5){
    //   opacity: 1;
    //   transition-duration: .3s;
    //   transition-delay: 1.8s;
    // }
    // .btn-sign.animated:nth-of-type(6){
    //   opacity: 1;
    //   transition-duration: .3s;
    //   transition-delay: 2.1s;
    // }
  }
  .module-opacity{
    width:1200px;
    height:0px;
    position: absolute;
    top:0;
    left: 0;
    background: #000;
    opacity: 0.5;
  }
}
// #feature_block .block-body:hover .items{
//   opacity: 1;
//   height: 310px;
//   overflow: visible;
// }
.border-bottom(){
  bottom:-18px;
  left:50%;
  width: 0;
  height: 18px;
  border-left:1px dotted #a6aab7;
}
.border-left(){
  left:-32px;
  top:50%;
  width:32px;
  height:0;
  border-top:1px dotted #a6aab7;
}
.border-right(){
  right:-32px;
  top:50%;
  width:32px;
  height:0;
  border-top:1px dotted #a6aab7;
}
.border-top(){
  top:-18px;
  left:50%;
  width: 0;
  height: 18px;
  border-left:1px dotted #a6aab7;
}
.box-shadow(@direction){
  position: relative;
  color:#2243d0;
  float: left;
  background: #fff;
  height:38px;
  line-height:38px;
  border:1px solid #9dacc8;
  box-shadow:0px 0px 10px #c6d9fd inset;
  font-size: 16px;
  &::before{
    content:'';
    position:absolute;
    .border-direction(@direction);
  }
}
.border-direction(@direction) when (@direction=left){
  .border-left()
}
.border-direction(@direction) when (@direction=bottom){
  .border-bottom()
}
.border-direction(@direction) when (@direction=right){
  .border-right()
}
.border-direction(@direction) when (@direction=top){
  .border-top()
}
.clearfix{
  zoom: 1;
}
.clearfix::before{
  content:'.';
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;  
}
  .dotted-border-box(){
    position: relative;
    height:18px;
    &::before{
      position: absolute;
      content: '';
      border-left:1px dotted #a6aab7;
      left: 50%;
      top:58px;
      width: 0;
      height: 18px;
    }
  }
  .dotted-border(@left,@right,@top) {
    position: absolute;
    left:@left;
    right: @right;
    top:@top;
    height: 0;
    border-bottom:1px dotted #a6aab7;
  }