@import "vars.less";

.page-erp {
  .top-content {
    position: relative;
    height: 1237px;
    background: #f7f7f7 url('../images/erp_icon/erp_main_bg.png') center 0 no-repeat;
    .wave {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 800px;
      canvas {
        pointer-events: none;
      }
    }
  }
  .part-one {
    .title {
      text-align: center;
    }
  }
}
